<div style="text-align: end; padding-right: 2%;">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
</div>
<div style="width: 100%;" style="height: 100%;">

    <div class="contenedor" style="padding-top: 0%;">
        <div class="col-12">
            <p class="Reboto-medium title" style="font-size: 20px">
             <img src="../../../assets/home-dos/icons8-crisis-50.png" style="width: 35px;">  
              Disponibilidad de Servicios
            </p>

            <p class="description">Ups! Los siguientes servicios no se encuentran disponibles en la fecha solicitada.
                Puedes elegir  otra fecha o regresar a seleccionar algún otro servicio.
            </p>

            <div class="container">
                <div class="row">
                    <div class="col-12" *ngFor="let item of data let i = index">
                        <p>
                            <span>{{i+1}}.- </span>
                            <span style="font-weight: bolder;"> {{item.nombre}}: </span>
                            <span *ngIf="item.balance < -100"> No esta disponible en la fecha solicitada.</span>
                            <span *ngIf="item.balance > -101"> Contamos con {{item.balance + item.solicitados}} disponibles y </span>
                            <span *ngIf="item.balance > -100"> solicitaste {{item.solicitados}} elementos</span>
                        </p>
                    </div>
                    <!-- <div class="col-6">
                        y mitad
                    </div> -->
                    <!-- <div class="col-5" style="padding-top: 20px;">
                        <button type="button" class="btn botones_atras Reboto-medium" mat-dialog-close
                            (click)="cancelar();">Cerrar</button>
                    </div> -->
                    <div class="col-7" style="padding-top: 20px;">
                        <button type="button" class="btn botones_siguiente Reboto-medium" (click)="guardar()">
                            Ir a Servicios</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div style="width: 100%;" class="d-block d-md-none">
    <div class="row">
        <div class="col-md-12">
            <div class="contenedorIMG">
                <div *ngIf="data.tipoImagenSeleccion == 'imagen'" class="imagenesTarj d-none d-md-block pointer">
                    <img [src]="data.imagenSeleccion" alt="" class="contenedorIMG_img">

                </div>
                <div *ngIf="data.tipoImagenSeleccion == 'video'">
                    <youtube-player videoId={{data.imagenSeleccion}} [width]="293" [height]="239"
                        suggestedQuality="highres" [startSeconds]="1">
                    </youtube-player>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="contenedorINFO">
                <p class="Reboto-medium title" style="margin-bottom: 0px;">{{data.producto}}</p>
                <p class="title">
                    <span style="font-size: 22px; margin-bottom: 0px;">{{data.precioPorUnidad | currency}}</span>

                    <span *ngIf="data.especificacionEspecial" style="color: gray; font-style: italic; font-size: 16px;">
                        {{data.especificacionEspecial}}
                    </span>
                    <span *ngIf="!data.especificacionEspecial"
                        style="color: gray; font-style: italic; font-size: 16px;">
                        Renta por evento completo
                    </span>
                </p>
                <p class="description" style="padding-left: 2%; padding-right: 2%; text-align: justify;">
                    {{data.descripcionLarga}}
                </p>

                <div class="agregar">
                    <div class="description_center">Cantidad</div>
                    <div class="tarjeta_footer">
                        <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer"
                            (click)="agregarCantidad(false);">
                        <input class="tarjeta_input" type="number" placeholder="Numero de meseros" value='0'
                            [(ngModel)]="data.cantidadUnidades"
                            (change)="detectarSumaRestaCantidad(data.cantidadUnidades)">
                        <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png" alt=""
                            class="pointer" (click)="agregarCantidad(true);">
                    </div>

                    <div *ngIf="data.especificarTiempo" class="description_center">Cantidad de horas</div>
                    <div class="tarjeta_footer" *ngIf="data.especificarTiempo">
                        <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer"
                            (click)="agregarhora(false);">
                        <input class="tarjeta_input" type="number" placeholder="Numero de horas" value='0'
                            [(ngModel)]="data.cantidadHoras" (change)="detectarSumaRestaHoras(data.cantidadHoras)">
                        <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png" alt=""
                            class="pointer" (click)="agregarhora(true);">
                    </div>
                </div>

                <div>
                    <div class="botones_top">
                        <button type="button" class="btn botones_atras Reboto-medium" mat-dialog-close
                            (click)="cancelar();">Cancelar</button>
                        &nbsp;
                        <button type="button" class="btn botones_siguiente Reboto-medium" (click)="guardar()">Actualizar
                            carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->