.bg-color {
  z-index: 99999;
  background-color: transparent;
}

@media (max-width: 434px) {
  .bg-color{
  background-color: #411078;
  }  
}



.bg-color_none{
  background-color: #1E003A;
}

.menu {
  &_opciones {
    color: white !important;
    font-size: 12px;
  }

  &_center {
    justify-content: center;
  }

  &_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 85%;
  }

  &_text_center {
    text-align: center;
  }

  &_icon {
    font-size: 30px;
    color: white;
  }
}

.li_final {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 7%;
}

.icon {
  color: white;
  font-size: 25px;
}

.header_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85px;
}

a{
  font-size: 20px;
  font-weight: 500;
}



.navbar-light .navbar-toggler {
  color: white !important;
  border-color: rgba(0, 0, 0, 0) !important;
  }