<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{'bg-color': appComponent.rutaHome==true, 'bg-color_none': appComponent.rutaHome==false}">
  <img src="./assets/Home/logo-icon.svg" alt="" width="10%" class="d-block d-md-none">
  <div class="d-block d-md-none">
    <div class="header_icon">
      <img src="./assets/Home/event-icon.svg" alt="" height="25px" width="25px" [routerLink]="['/Wizard']" routerLinkActive="router-link-active" >

      <span id="collapse" (click)="collapse.toggle()" *ngIf="isCollapsed" [attr.aria-expanded]="!isCollapsed"
        class="navbar-toggler material-icons icon" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        menu
      </span>
      <span class="material-icons icon" *ngIf="!isCollapsed" (click)="isCollapsed = !isCollapsed">close</span>
    </div>
  </div>

  <div class="collapse navbar-collapse menu_center" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed"
    id="navbarNav">
    
    <ul class="navbar-nav menu_li">
      <li class="d-none d-md-block">
        <img src="./assets/Home/logo-icon.svg" alt="" width="50%">
      </li>
      <li class="pointer nav-item">
        <a class="nav-link d-block d-md-none menu_opciones" [routerLink]="['/']"
          (click)="isCollapsed = !isCollapsed">¿COMO FUNCIONA?</a>
        <a class="nav-link d-none d-md-block menu_opciones" [routerLink]="['/']">¿COMO FUNCIONA?</a>
      </li>
      <li class="pointer nav-item">
        <a class="nav-link d-block d-md-none menu_opciones" (click)="isCollapsed = !isCollapsed">NUESTROS SERVICIOS</a>
        <a class="nav-link d-none d-md-block menu_opciones">NUESTROS SERVICIOS</a>
      </li>
      <li class="pointer nav-item">
        <a class="nav-link d-block d-md-none menu_opciones" (click)="isCollapsed = !isCollapsed">¿POR QUÉ ELEGIRNOS?</a>
        <a class="nav-link d-none d-md-block menu_opciones">¿POR QUÉ ELEGIRNOS?</a>
      </li>
      <li class="pointer nav-item">
        <a class="nav-link d-block d-md-none menu_opciones" (click)="isCollapsed = !isCollapsed">FAQ's</a>
        <a class="nav-link d-none d-md-block menu_opciones">FAQ's</a>
      </li>
      <li class="pointer nav-item menu_text_center li_final">
        <img src="./assets/Home/event-icon.svg" alt="" height="25px" width="25px" 
           class="d-none d-md-block" (click)="wizard()" >

        <span class="material-icons menu_icon d-none d-md-block" (click)="login(1);">
          person_outline
        </span>

        <span class="material-icons menu_icon d-block d-sm-none" (click)="login(2); isCollapsed = !isCollapsed">
          person_outline
        </span>
      </li>
    </ul>
  </div>
</nav>
