.bg-color {
    z-index: 99999;
    background-color: #1E003A;
  }
  
  .menu {
    &_opciones {
      color: white !important;
      font-size: 12px;
      cursor: pointer;
    }
  
    &_center {
      justify-content: center;
    }
  
    &_li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //width: 85%;
    }
  
    &_text_center {
      text-align: center;
    }
  
    &_icon {
      font-size: 30px;
      color: white;
    }
  }
  
  .navbar-toggler {
    margin-bottom: -10px;
  }
  

  .li_final {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 7%;
  }
  
  .icon {
    color: white;
    font-size: 25px;
  }
  
  .header_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
  }
  
  a{
    font-size: 20px;
    font-weight: 500;
  }
  
  
  