<mat-dialog-content class="mat-typography">
  <div style="text-align: end; float: right; padding: 2%;">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
  <div class="padding">
    
    <h2 mat-dialog-title class="color">Mis Eventos</h2>
    <br>
    <div *ngFor="let item of eventos" class="card">
      <p class="Reboto-medium">Nombre Contacto: <span>{{item.nombreContratane}} </span></p>
      <p class="Reboto-medium">Inicio: <span>{{item.fechaHoraInicio| date: 'dd/MM/yyyy'}} </span></p>
      <p class="Reboto-medium">Fin del evento: <span>{{item.fechaHoraFin | date: 'dd/MM/yyyy'}}</span></p>
      <p class="Reboto-medium">Correo Contacto: <span>{{item.correo}}</span></p>
      <p class="Reboto-medium">Dirección: <span>Calle {{item.calleNumero}}, Colonia {{item.colonia}} Código postal {{item.cp}}</span></p>
    </div>
    <div class="buttons">
      <button type="button" mat-dialog-close class=" btn bg_color">Cerrar</button>
    </div>
  </div>
</mat-dialog-content>
