.padding {
  padding: 5%;
  width: 100%;
  height: 100%;
}

.buttons {
    width: 100%;
    text-align: center;
}

.bg_color {
  background-color: #5C02B0;
  color: white;
}
.color{
   color :#5C02B0
}
.card {
  padding: 3%;
  border: 1px solid #5C02B0;
  border-radius: 15px;
  margin-bottom: 5%;
}
