 <div style=" padding: 25px;">
    <div id="card-element" style="background-color: white; padding: 25px;"></div>
        <button id ="button">
            PAGAR
        </button>
     <div id ="card-errors"></div>
</div> 

<form id="payment-form" style="width: 100%;">
    <div class="form-row">
        <label for="name">
            Nombre
        </label>
        <input id="name" name="name" required class="form-control" [(ngModel)]="nombre_oxxo">
    </div>

    <div class="form-row">
        <label for="email">
            Email
        </label>
        <input id="email" name="email" required class="form-control" [(ngModel)]="email_oxxo">
    </div>
    <!-- Used to display form errors. -->
    <div id="error-message" role="alert"></div>

    <button (click)="paymentintent_params('oxxo');" id="submit-button" class="btn pagar_siguiente Reboto-medium">Pagar
        con Oxxo</button>
</form>
<!----------------------------- TARJETAS DE CREDITO Y TARJETAS DE DEBITO --------------- -->

<div clas="col-md-12">{{fechamat}}
    <div class="col-md-6"> 
      <mat-form-field appearance="fill" style="width: 160px;">
        <mat-label>Inicia*</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)] ="fechamat" > 
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 80px;">
        <mat-label>Hora</mat-label>
        <select matNativeControl required>
          <option value="volvo">00</option>
          <option value="saab">01</option>
          <option value="mercedes">02</option>
          <option value="audi">03</option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 80px;">
        <mat-label>Minutos</mat-label>
        <select matNativeControl required>
          <option value="volvo">00</option>
          <option value="saab">15</option>
          <option value="mercedes">30</option>
          <option value="audi">45</option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-md-6"> 
  </div>

<!-- 
<ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
            <span> Pagar <b>Con Tarjeta</b> </span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div style="background-color: blue; padding: 25px;">
                <div id="card-element" style="background-color: white; padding: 25px;"></div>
                <button id="button" (click)="paymentintent_params('card');">
                    PAGAR
                </button>
                <div id="card-errors"></div>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
            <span> Pagar <b>Paypal</b> </span>
        </ng-template>
        <ng-template ngbPanelContent>
            PAY PAL

        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3">
        <ng-template ngbPanelTitle>
            <span> Pagar <b>Con Oxxo</b> </span>
        </ng-template>
        <ng-template ngbPanelContent>
            <form id="payment-form" style="width: 100%;">
                <div class="form-row">
                    <label for="name">
                        Nombre
                    </label>
                    <input id="name" name="name" required class="form-control" [(ngModel)]="nombre_oxxo">
                </div>

                <div class="form-row">
                    <label for="email">
                        Email
                    </label>
                    <input id="email" name="email" required class="form-control" [(ngModel)]="email_oxxo">
                </div>
             
                <div id="error-message" role="alert"></div>

                <button (click)="paymentintent_params('oxxo');" id="submit-button"
                    class="btn pagar_siguiente Reboto-medium">Pagar
                    con Oxxo</button>
            </form>
        </ng-template>
    </ngb-panel>
</ngb-accordion> -->