<!--DESKTOP-->
<div class="d-none d-md-block">
  <div class="container-fluid seccion_uno_contenedor">
    <div class="row seccion_uno_altura">
      <div class="col-md-4" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('./assets/Home/banner-image_tall.png'); ">
        <div class="seccion_uno_flex">
          <img src="./assets/Home/logo-banner.png" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="seccion_uno_credenciales seccion_uno_ancho">
              <div class="seccion_uno_ancho">

                <div class="flex_contenedor_input">
                  <p class="title reboto-regular">Unete a nosotros</p>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                      aria-describedby="basic-addon1" required>
                  </div>
                </div>


                <div class="flex_contenedor_input">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Télefono" aria-label="Télefono"
                      aria-describedby="basic-addon1" required>
                  </div>
                </div>

                <div class="flex_contenedor_input">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                      aria-describedby="basic-addon1" required>
                  </div>
                </div>

                <div class="flex_contenedor_input">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Como prefieres que te contactemos"
                      aria-label="Como prefieres que te contactemos" aria-describedby="basic-addon1" required>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <!--CREATE ACCOUNT-->
            <div class="seccion_uno_credenciales seccion_uno_ancho">
              <div class="seccion_uno_ancho">

                <div class="flex_contenedor_input">
                  <p class="title reboto-regular">Descripcion de servicios</p>
                  <div class="input-group mb-3">
                    <textarea placeholder="Descripcion de servicios" cols="30" rows="5"></textarea>
                  </div>
                </div>


                <div class="flex_contenedor">
                  <button type="button" class="btn flex_button">Guardar</button>
                </div>

              </div>
            </div>
            <!--FIN CREATE ACCOUNT-->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!--MOBILE-->
<div class="d-block d-sm-none">

  <div class="container-fluid seccion_uno_contenedor">
    <div class="row">
      <div class="col-sm-12 mobile_padding">
        <div class="seccion_uno_center">
          <div class="mobile_header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('./assets/Home/banner-image_tall_m.png'); ">            <img src="./assets/Home/logo-icon.svg" alt="" class="mobile_img">
          </div>


          <div>
            <div class="seccion_uno_ancho">

              <div class="flex_contenedor_input">
                <p class="title reboto-regular">Unete a nosotros</p>

                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                    aria-describedby="basic-addon1" required>
                </div>
              </div>


              <div class="flex_contenedor_input">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Télefono" aria-label="Télefono"
                    aria-describedby="basic-addon1" required>
                </div>
              </div>

              <div class="flex_contenedor_input">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                    aria-describedby="basic-addon1" required>
                </div>
              </div>

              <div class="flex_contenedor_input">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Medio prefierido de contacto"
                    aria-label="Como prefieres que te contactemos" aria-describedby="basic-addon1" required>
                </div>
              </div>

              <div class="flex_contenedor_input">
                <div class="input-group mb-3">
                  <textarea cols="30" rows="5" placeholder="Descripcion de servicios"></textarea>
                </div>
              </div>

              <div class="flex_contenedor">
                <button type="button" class="btn flex_button">Guardar</button>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
