.bg-color {
  background-color: #222222;
  text-align: center;
  color: white
}


.title {
  font-size: 18px;
  margin: 0;
}

.margin{
  margin-top: 20px;
  margin-bottom: 20px;
}

.derechos {
  font-size: 14px;
  margin: 0;
}

.mobil{
  display: none;
}

@media only screen and (max-width: 575px) {
  .mobil{
    display: block;
  }
  .desk{
    display: none;
  }
}
