<!--DESKTOP-->
<div class="container-fluid bg-color d-none d-md-block">
  <div class="flex_container">

    <div class="flex_footer">
      <img src="./assets/Footer/logo-landing.svg" alt="" class="img">
      <p class="texto p">Todos los Derechos Reservados <br> 2021 Conevento</p>
    </div>

    <div class="flex_footer center">
      <p class="texto p">Cuidad De Mexico</p>
      <p class="texto p">contacto@conevento.com</p>
      <p class="texto p">5543123456</p>
    </div>

    <div class="flex_footer center">
      <p class="texto p">FORMAS DE PAGO</p>
      <img src="./assets/Footer/formas_pago.png" alt="" class="mobile_radius mobile_ancho">
    </div>

    <div class="flex_footer center">
      <p class="texto p">Aviso De Privacidad</p>
    </div>
  </div>
</div>

<!--MOBILE-->
<div class="container-fluid bg-color d-block d-md-none">
  <div class="row">

    <div class="col-md-12">
      <div class="mobile_flex">
        <img src="./assets/Footer/logo-landing.svg" alt="" class="img">
        <p class="texto p">Todos los Derechos Reservados <br> 2021 Conevento</p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="mobile_flex">
        <p class="texto p">Cuidad De Mexico</p>
        <p class="texto p">contacto@conevento.com</p>
        <p class="texto p">5543123456</p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="mobile_flex">
        <p class="texto p">FORMAS DE PAGO</p>
        <img src="./assets/Footer/formas_pago.png" alt="" class="mobile_radius">
      </div>
    </div>

    <div class="col-md-12">
      <div class="mobile_flex">
        <p class="texto p">Aviso De Privacidad</p>
      </div>
    </div>

  </div>
</div>
