<div class="bg-color">
   <img src="./assets/Home/logo-banner.png" style="width: 150px;">
   <p class="title1" style="font-weight:light;">CDMX</p>
   <p class="title1" style="font-weight:normal;">contacto@conevento.com</p>
   <p class="title1" style="font-weight:normal;">55 4312 3456</p>

   <div class="margin">
      <img src="./assets/home-dos/ant-design_twitter-outlined.png" alt=""> 
     <!--<img src="./assets/home-dos/tik.png" style="width: 32px; " alt="">
     &nbsp;
     <img src="./assets/home-dos/insta.png" alt="" style="width: 32px; background-color: black;">-->
     &nbsp;
     <img src="./assets/home-dos/akar-icons_facebook-fill.png" alt="">
     
   </div>

   <p class="derechos">Todos Los Derechos Reservados 2021 © Conevento</p>

     
</div>