.bg-color {
  background-color: #1E003A;
  padding: 1%;
}

.flex_footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 25%;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 80px;
}

.p{
    margin: 1%;
}
.img {
  width: 40%;
  margin-bottom: 20px;
}

.texto {
  font-size: 12px;
  color: white;
}

.center{
    //text-align: center;
}


.mobile{
  &_flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
  }
  &_radius{
    border-radius: 5px;
  }
  &_ancho{
    width: 80%;
  }
  &_texto {
    font-size: 16px;
    color: white;
  }
}