<div class="container-fluid bg-color">
  <div class="flex_container">

    <div class="flex_footer">
      <img src="./assets/Footer/logo-landing.svg" alt="" class="img">
      <p class="texto p">Todos los Derechos Reservados <br> 2021 Conevento</p>
    </div>

    <div class="flex_footer center">
        <p class="texto p">Cuidad De Mexico</p>
        <p class="texto p">contacto@conevento.com</p>
        <p class="texto p">5543123456</p>
    </div>

    <div class="flex_footer center">
      <p class="texto p">FORMAS DE PAGO</p>
    </div>

    <div class="flex_footer center">
      <p class="texto p">Aviso De Privacidad</p>
    </div>
  </div>
  <!--div class="row">

    <div class="flex_container">

      <div class="col-md-3">
        <div class="flex_footer">
          <img src="./assets/Footer/logo-landing.svg" alt="" class="img">
          <p class="texto">Todos los Derechos Reservados 2021 Conevento</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="flex_footer">
          <p class="texto">Cuidad De Mexico</p>
          <p class="texto">contacto@conevento.com</p>
          <p class="texto">5543123456</p>
        </div>
      </div>

      <div class="col-md-3">
        <p class="texto">5543123456</p>
      </div>

      <div class="col-md-3">
        <p class="texto">5543123456</p>
      </div>

    </div>

  </div-->
</div>
