.bg-color {
  background-color: #1E003A;
  padding: 1%;
}

.flex_footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 25%;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 80px;
}

.p{
    margin: 1%;
}
.img {
  width: 40%;
}

.texto {
  font-size: 12px;
  color: white;
}

.center{
    //text-align: center;
}