<div class="bg_color">

  <!-- <youtube-player videoId="rRcSK1As9AY" suggestedQuality="highres" [height]="239" [width]="293" [startSeconds]="4" [endSeconds]="8">
  </youtube-player>
  | variable |
  <youtube-player videoId={{ytid}} suggestedQuality="highres" [height]="239" [width]="293" [startSeconds]="4" [endSeconds]="8">
  </youtube-player> -->


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="headermin">
          <img src="https://img.icons8.com/color/48/000000/circled-chevron-left--v1.png"  style="width: 35px;" alt="" class="pointer" (click)="back();">
          <span>&nbsp;</span>
          <span class="pointer" (click)="back();">Regresar a categorias</span>
        </div>

      </div>
      <div class="col-md-4">
        <p class="Reboto-medium titulo">Elige que necesitas</p>
      </div>
      <!-- <div class="col-md-3">
            <img src="./assets/SeleccionarServicios/bi_arrow-left-short.png" alt="" class="pointer" (click)="back();">
          </div> -->

      <div class="col-md-12">
        <div class="col-md-3">
          <p>¿ Qué estas buscando?</p>
          <div class="input-group mb-3 margen_cero">
            <input type="text" class="form-control" placeholder="{{ejemplo}}"
              aria-label="Calle y numero exterior" aria-describedby="basic-addon1" [(ngModel)]="userFilter.producto"
              name="filterpost">
            {{userFilter.name}}
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngFor="let item of productos | filterBy: userFilter; let i = index ">
        <div class="tarjeta_contenedor_principal">
          <div *ngIf="item.tipoImagenSeleccion == 'imagen'" class="imagenesTarj d-none d-md-block pointer"
            (click)="detalle(1, item)">
            <img [src]="item.imagenSeleccion" alt="" class="tarjeta_img">
          </div>
          <!-- <video *ngIf="item.tipoImagenSeleccion == 'video'" width="255" height="210" controls>
            <source [src]="item.imagenSeleccion" type="video/mp4">
            {{item.producto}}
          </video> -->
          <div *ngIf="item.tipoImagenSeleccion == 'video'">
            <div class="d-block d-md-none">
              <youtube-player videoId={{item.imagenSeleccion}} suggestedQuality="highres" [height]="239" [width]="293" [startSeconds]="4" [endSeconds]="8">
               </youtube-player>
               <!--| dos
              <youtube-player videoId={{ytid}} suggestedQuality="highres" [height]="239" [width]="293" [startSeconds]="4" [endSeconds]="8">
              </youtube-player> -->
            </div>
            <div class="d-none d-md-block"> 
              <youtube-player videoId={{item.imagenSeleccion}} suggestedQuality="highres" [height]="210" [width]="255" [startSeconds]="4" [endSeconds]="8">
              </youtube-player>
            </div>
          </div>

          <!-- <div *ngIf="item.id == 29">
            <iframe class="videoyt"  src="{{yt}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> -->
          

          <div class="imagenesTarj d-block d-md-none pointer" (click)="detalle(2, item)">
            <img [src]="item.imagenSeleccion" alt="" class="tarjeta_img">
          </div>

          <div class="tarjeta_contendor" style="padding-top: 2%; padding-bottom: 1%;">
            <p class="Reboto-medium sizes_20 pointer d-none d-md-block" style="margin-bottom: 0px;"
              (click)="detalle(1, item)">{{item.producto}}</p>
            <p class="Reboto-medium sizes_20 pointer d-block d-md-none" style="margin-bottom: 0px;"
              (click)="detalle(2, item)">{{item.producto}}</p>
            <p class="Reboto-medium sizes_18" style="margin-bottom: 5px;">{{item.precioPorUnidad | currency}}&nbsp;<span
                class="tarjeta_color sizes_14" *ngIf="item.especificacionEspecial" style="font-style: italic;">
                {{item.especificacionEspecial}}</span>
            </p>
            <p class="tarjeta_justificado sizes_14">
              {{item.descripcionCorta}}
            </p>
            <div class="tarjeta_center sizes_14">Cantidad</div>
            <div class="tarjeta_footer">
              <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer"
                (click)="agregarCantidad(false, item.id);">
              <input class="tarjeta_input" type="number" placeholder="Numero de meseros" value='0'
                [(ngModel)]="item.cantidadUnidades"
                (change)='detectarSumaRestaCantidad(item.cantidadUnidades, item, item.id);'>
              <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png"
                (click)="agregarCantidad(true, item.id);" alt="" class="pointer">
            </div>
            <div *ngIf="item.especificarTiempo" class="sizes_14 tarjeta_center">Cantidad de horas</div>
            <div class="tarjeta_footer" *ngIf="item.especificarTiempo">
              <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer"
                (click)="agregarhora(false, item.id, item);">
              <input class="tarjeta_input" type="number" placeholder="Numero de horas" [(ngModel)]="item.cantidadHoras"
                (change)="detectarSumaRestaHoras(item.cantidadHoras, item, item.id)">
              <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png" alt="" class="pointer"
                (click)="agregarhora(true, item.id, item);">
            </div>
          </div>
        </div>
      </div>
      

      <!--p class="fix_color reboto-regular">Total: {{total | currency}}</p-->
      <a class="btn-wsp fab" target="_blank" (click)="back();">
        <img style="width: 32px;" src="https://img.icons8.com/color/48/000000/circled-chevron-left--v1.png"/> Total: {{total | currency}}
      </a>
      

    </div>
   
    <!-- <div class="contenedor_uno_contenedor_botones form-group">
    <button class="btn contenedor_uno_siguiente Reboto-medium" (click)="agregar();">Actualizar carrito</button>
  </div> -->
    <div class="contenedor_uno_contenedor_botones form-group">
      <button class="btn contenedor_uno_atras Reboto-medium" (click)='back();'>Regresar</button>
    </div>

  </div>
  
