<div class="bg_color">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <img src="./assets/SeleccionarServicios/bi_arrow-left-short.png" alt="" class="pointer" (click)="back();">
          <span>&nbsp;</span>
          <span class="header_titlo">Seleccionar servicios</span>
        </div>
      </div>

      <div class="col-md-12">
          <div>
              <p class="Reboto-medium titulo">Elige el personal que necesitas</p>
          </div>
      </div>
      
      <div class="col-md-3">
        <div class="tarjeta_contenedor_principal">
          <img src="./assets/SeleccionarServicios/Group 20.png" alt="" class="tarjeta_img">
          <div class="tarjeta_contendor">
            <p class="reboto-regular">Mesero</p>
            <p class="reboto-regular">$199.00&nbsp;<span class="tarjeta_color">( 6 horas)</span> </p>
            <p class="tarjeta_justificado">Lorem ipsum dolor sit amet, consecteur pin adiping elit. Praesent ac risus
              non metus viverraac risus non.
            </p>
            <div class="tarjeta_footer">
              <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer">
              <input class="tarjeta_input" type="number">
              <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png" alt="" class="pointer">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="tarjeta_contenedor_principal">
          <img src="../../../assets/SeleccionarServicios/Group 20.png" alt="" class="tarjeta_img">
          <div class="tarjeta_contendor">
            <p class="reboto-regular">Mesero</p>
            <p class="reboto-regular">$199.00&nbsp;<span class="tarjeta_color">( 6 horas)</span> </p>
            <p class="tarjeta_justificado">Lorem ipsum dolor sit amet, consecteur pin adiping elit. Praesent ac risus
              non metus viverraac risus non.
            </p>
            <div class="tarjeta_footer">
              <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer">
              <input class="tarjeta_input" type="number">
              <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png" alt="" class="pointer">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="tarjeta_contenedor_principal">
          <img src="../../../assets/SeleccionarServicios/Group 20.png" alt="" class="tarjeta_img">
          <div class="tarjeta_contendor">
            <p class="reboto-regular">Mesero</p>
            <p class="reboto-regular">$199.00&nbsp;<span class="tarjeta_color">( 6 horas)</span> </p>
            <p class="tarjeta_justificado">Lorem ipsum dolor sit amet, consecteur pin adiping elit. Praesent ac risus
              non metus viverraac risus non.
            </p>
            <div class="tarjeta_footer">
              <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer">
              <input class="tarjeta_input" type="number">
              <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png" alt="" class="pointer">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="tarjeta_contenedor_principal">
          <img src="../../../assets/SeleccionarServicios/Group 20.png" alt="" class="tarjeta_img">
          <div class="tarjeta_contendor">
            <p class="reboto-regular">Mesero</p>
            <p class="reboto-regular">$199.00&nbsp;<span class="tarjeta_color">( 6 horas)</span> </p>
            <p class="tarjeta_justificado">Lorem ipsum dolor sit amet, consecteur pin adiping elit. Praesent ac risus
              non metus viverraac risus non.
            </p>
            <div class="tarjeta_footer">
              <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer">
              <input class="tarjeta_input" type="number">
              <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png" alt="" class="pointer">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="tarjeta_contenedor_principal">
          <img src="../../../assets/SeleccionarServicios/Group 20.png" alt="" class="tarjeta_img">
          <div class="tarjeta_contendor">
            <p class="reboto-regular">Mesero</p>
            <p class="reboto-regular">$199.00&nbsp;<span class="tarjeta_color">( 6 horas)</span> </p>
            <p class="tarjeta_justificado">Lorem ipsum dolor sit amet, consecteur pin adiping elit. Praesent ac risus
              non metus viverraac risus non.
            </p>
            <div class="tarjeta_footer">
              <img src="./assets/SeleccionarServicios/carbon_subtract-alt.png" alt="" class="pointer">
              <input class="tarjeta_input" type="number">
              <img src="./assets/SeleccionarServicios/ant-design_plus-circle-outlined.png" alt="" class="pointer">
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
