<div class="bg_color">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="headermin">
          <img src="https://img.icons8.com/color/48/000000/circled-chevron-left--v1.png"  style="width: 35px;" alt="" class="pointer" (click)="back();">
          <span>&nbsp;</span>
          <span class="pointer" (click)="back();">Regresar a categorias</span>
        </div>

      </div>
      <div class="col-md-4">
        <p class="Reboto-medium titulo">Elige que necesitas</p>
      </div>

      <div class="col-md-12">
        <div class="col-md-6">
          <p>¿ Qué estas buscando?</p>
          <div class="input-group mb-6 margen_cero">
            <input type="text" class="form-control" placeholder="{{ejemplo}}"
              aria-label="Calle y numero exterior" aria-describedby="basic-addon1" [(ngModel)]="userFilter.producto"
              name="filterpost" (ngModelChange)="click();">
            {{userFilter.name}}
            <button class="btn animate_boton" (click)="limpiarfiltro()">limpiar filtro</button>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="id==1">
        <app-slide-carousel-general [titulo]="'Personal'"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==3">
        <app-slide-carousel-general [titulo]="'Talento'"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==5">
        <app-slide-carousel-general [titulo]="'Bebidas'" [idCategoria]="0" [idSubCategoria]="11"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==5">
        <app-slide-carousel-general [titulo]="'Comida'" [idCategoria]="0" [idSubCategoria]="12"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Mesas y Sillas'" [idCategoria]="0" [idSubCategoria]="1" [filter]="userFilter.producto"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Periqueras y Barras'" [idCategoria]="0" [idSubCategoria]="2" [filter]="userFilter.producto"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Salas, Sillones, Bancos y Puffs'" [idCategoria]="0" [idSubCategoria]="3"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Cristaleria y Vajillas'" [idCategoria]="0" [idSubCategoria]="4"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Carpas y Tarimas'" [idCategoria]="0" [idSubCategoria]="5"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Baños'" [idCategoria]="0" [idSubCategoria]="6"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Calentadores'" [idCategoria]="0" [idSubCategoria]="7"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Decoración'" [idCategoria]="0" [idSubCategoria]="8"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==6">
        <app-slide-carousel-general [titulo]="'Berger'" [idCategoria]="0" [idSubCategoria]="10"></app-slide-carousel-general>
      </div>

      <div class="col-12" *ngIf="id==7">
        <app-slide-carousel-general [titulo]="'Luces y sonido'"></app-slide-carousel-general>
      </div>

      <a class="btn-wsp fab" target="_blank" (click)="back();">
        <img style="width: 32px;" src="https://img.icons8.com/color/48/000000/circled-chevron-left--v1.png" />
        &nbsp;&nbsp; Más Categorias
      
     </a>
     
      <a class="btn-wsp1 fab" target="_blank" (click)="next();">
        CheckOut : {{appComponent.total | currency}} <img style="width: 32px;" src="https://img.icons8.com/fluency/48/000000/circled-chevron-right.png"/>
      </a>
      

    </div>
   
    <div class="contenedor_uno_contenedor_botones form-group">
      <button class="btn contenedor_uno_atras Reboto-medium" (click)='back();'>Regresar</button>
    </div>

  </div>
  
