.bg_color {
  background-color: #F5F2F8;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 70px;
  margin: 5% 0% 5% 0%;

  &_titlo {
    font-size: 20px;
  }
}

.titulo{
  font-size: 30px;
}

.tarjeta {
  &_contenedor_principal{
    margin: 10% 0% 20% 0%;
  }

  &_img {
    width: 100%;
  }

  &_contendor {
    background-color: white;
    padding: 5%;
  }

  &_justificado {
    text-align: justify;
  }

  &_color {
    color: #00C3BD;
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    width: 80%;
    margin: auto;
  }

  &_input {
    margin: 0;
    border: 1px solid gray;
    width: 80px;
    border-radius: 15px;
    padding-left: 5%;
    height: 30px;
  }
}
