<div class="bg">
  <div class="spacer"></div>
  <!--STEPPER PARA DESKTOP-->
  <div class="d-none d-md-block">
    <div class="container">
      <div class="row stepers steps-container">
        <div class="col-4 title-step">
          Arma tu evento <br>
          en <span class="Reboto-medium">sólo 3 pasos</span> 👉
        </div>
        <div class="col-2 step no-padding">
          <span (click)="set_stepper(1);" class="header"
            [ngClass]="{'selected': steps.uno == 'selected', 'ready': steps.uno == 'complete'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>
          <div class="info" (click)="set_stepper(1);">
            <span class="Reboto-medium">1.- Elige tus servicios</span><br>
            <span class="info description">Selecciona el personal y <br>
              artículos que requieras.</span>
          </div>
        </div>
        <div class="col-2 step no-padding">
          <span class="header" (click)="set_stepper(2);"
            [ngClass]="{'selected': steps.dos == 'selected', 'ready': steps.dos == 'complete', 'next': steps.dos == 'next'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>
          <div class="info" (click)="set_stepper(2);">
            <span class="Reboto-medium">2.- Agenda</span><br>
            Especifica el momento, el lugar y los invitados de tu evento
          </div>
        </div>
        <div class="col-2 step no-padding">
          <!-- <span class="header" (click)="set_stepper(3);" -->
          <span class="header" 
            [ngClass]="{'selected': steps.tres == 'selected', 'ready': steps.tres == 'complete', 'next': steps.tres == 'next'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>
          <!-- <div class="info" (click)="set_stepper(3);"> -->
            <div class="info">
            <span class="Reboto-medium">3.- Confirma y paga</span><br>
            Elige la opción de pago <br>
            de manera segura
          </div>
        </div>
        <div class="col-2 no-padding finish-step">
          <img src="./assets/wizard/Group 92.svg" alt="">
          <span class="Reboto-medium">¡Disfruta <br> tu evento!</span>
        </div>
      </div>
    </div>
  </div>
  <!--STEPPER PARA MOBILE-->
  <div class="d-block d-md-none">
    <div class="container">
      <div class="row stepers steps-container">
        <div class="col-3 step no-padding">
          <span (click)="set_stepper(1);" class="header"
            [ngClass]="{'selected': steps.uno == 'selected', 'ready': steps.uno == 'complete'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>
          <div class="info" (click)="set_stepper(1);">
            <span class="Reboto-medium">1.- Elige tus servicios</span>
          </div>
        </div>
        <div class="col-3 step no-padding">
          <span class="header" (click)="set_stepper(2);"
            [ngClass]="{'selected': steps.dos == 'selected', 'ready': steps.dos == 'complete', 'next': steps.dos == 'next'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>
          <div class="info" (click)="set_stepper(2);">
            <span class="Reboto-medium">2.- Agenda</span>
          </div>
        </div>
        <div class="col-3 step no-padding">
          <!-- <span class="header" (click)="set_stepper(3);" -->
            <span class="header" 
            [ngClass]="{'selected': steps.tres == 'selected', 'ready': steps.tres == 'complete', 'next': steps.tres == 'next'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>
          <!-- <div class="info" (click)="set_stepper(3);"> -->
            <div class="info">
            <span class="Reboto-medium">3.- Confirma y paga</span>
          </div>
        </div>
        <div class="col-3 no-padding finish-step">
          <img src="./assets/wizard/Group 92.svg" alt="">
          <span class="Reboto-medium">¡Disfruta <br> tu evento!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <!--------------------------------------------- paso 1-------------------------------------->
  <!--------------------------------------------- paso 1-------------------------------------->
  <!--------------------------------------------- paso 1-------------------------------------->
  <div class="container" [ngClass]="steps_css.uno">
    <div class="titulos_stepper">
      <img src="./assets/wizard/step_uno.png" alt="" class="titulos_stepper_img">
      &nbsp;
      <span class="Reboto-medium">Elige tus servicios</span>
    </div>
    <div class="row contenedor_cuatro">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6" *ngFor="let item of categorias">
            <div class="servicios_contenedor_imagen pointer zoom" (click)="selectServices(item);">
              <div id="a" class="servicios_contenedor_interno">
                <div class="radio">
                  <span class="span_select" style="color: #666666;" *ngIf="item.numproductos.length > 0">
                    {{item.numproductos.length}} Elementos
                    Seleccionados</span>
                  <div class="radio_circle">
                    <img src="./assets/wizard/Vector.svg" alt="" *ngIf="item.checked" class="radio_img">
                  </div>
                </div>
                <img [src]="item.imagenSeleccion" alt="" class="servicios_img_principal">
                <p class="servicios_color_texto reboto-regular">{{item.categoria}}</p>
                <div class="grow">
                  <img src="./assets/wizard/bi_info-circle.png" alt="" class="servicios_img_informacion">
                </div>
              </div>
              <div id="b" class="none size" style="color: #444444; font-weight: bolder;">{{item.descripcion}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="servicios servicios_bgcolor">
          <img src="./assets/wizard/Group 121.png" alt="" class="servicios_bgcolor_img">
          <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
            <ngb-panel id="custom-panel-1">
              afuera
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <p class="Reboto-medium pTotal">Solicitud de servicios</p>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <!--OPEN ICON-->
                    <span class="material-icons icon_color" *ngIf="!opened">
                      expand_more
                    </span>
                    <!--CLOSE ICON-->
                    <span class="material-icons icon_color" *ngIf="opened">
                      expand_less
                    </span>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="servicios_justify">
                  <div *ngFor="let item of Productos_listado">
                    <!-- <img style="width: 16px; cursor: pointer;" src="https://img.icons8.com/ios/50/000000/delete-sign--v1.png"/>-->
                    <img style="width: 16px; cursor: pointer;" (click)="modify_list(item)"
                      src="https://img.icons8.com/material-outlined/64/000000/trash--v1.png" />
                    <span class="productlist">
                      {{item.cantidadUnidades}} {{item.Nombre}}
                    </span>
                    <span class="productlist" *ngIf="item.cantidadHoras != null && item.especificarTiempo != null"
                      style="font-style: italic;"> ({{item.cantidadHoras}} hrs)</span>
                    <span class="productlist_precio"> {{item.Precio *
                      item.cantidadUnidades * item.cantidadHoras | currency}}
                    </span>
                  </div>
                  <div *ngIf="flete > 0">
                    <img style="width: 28px;"
                      src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/60/4a90e2/external-truck-ecommerce-vitaliy-gorbachev-blue-vitaly-gorbachev.png" />
                    <span class="productlist">
                      &nbsp;&nbsp;Servicio de flete (Mobiliario)
                    </span>
                    <span class="productlist_precio">
                      $650.00
                    </span>
                  </div>
                  <div class="separator"></div>
                  <div class="total">
                    <span class="p">Subtotal del carrito</span>
                    <span class="p">{{Subtotal | currency}}</span>
                  </div>
                  <div class="total">
                    <span class="p">IVA</span>
                    <span class="p">{{IVA | currency}}</span>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <div class="servicios_justify" style="padding: 20px;">
            <div class="separator"></div>
            <div class="total">
              <span class="p Reboto-medium">Servicios</span>
              <span class="p Reboto-medium">{{Productos_listado.length}}</span>
            </div>
            <div class="separator"></div>
            <div class="total">
              <span class="pTotal Reboto-medium">Total</span>
              <span class="p Reboto-medium">{{total | currency}}</span>
            </div>
            <div class="pagar_contenedor_botones form-group" *ngIf="Productos_listado.length != 0">
              <button class="btn pagar_siguiente Reboto-medium" (click)="next_validate_total();">Continuar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-----------------------------------------paso 2---------------------------------------->
  <!-----------------------------------------paso 2---------------------------------------->
  <!-----------------------------------------paso 2---------------------------------------->
  <div class="container" [ngClass]="steps_css.dos">
    <div class="titulos_stepper">
      <img src="./assets/wizard/step_dos.png" alt="" class="titulos_stepper_img">
      &nbsp;
      <span class="Reboto-medium">Agenda tu evento</span>
    </div>
    <div class="row contenedor_cuatro">
      <div class="col-md-7" style="margin-bottom: 5%;">
        <div class="row">
          <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
            <div class="row contenedor_uno" style="margin: 0% auto; border-radius: 10px; width: 100%;">
              <div class="col-md-12">
                <p class="Reboto-medium subtitle">¿Cuando será el momento de tu evento?</p>
              </div>
              <div class="col-md-6 date1">
                <div class="mb-3 margen_cero">
                  <mat-form-field appearance="fill" style="width: 150px;">
                    <mat-label>Incio*</mat-label>
                    <input matInput [matDatepicker]="picker" [readonly]="inputReadonly" [min]="dtToday"
                      [(ngModel)]="fechamat" formControlName="fechaHoraInicio" >
                    <mat-datepicker-toggle matSuffix [for]="picker" style='width: 2em'></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div *ngIf="f_inicio_error"
                    style="width: 100%;  margin-top: 0.25rem; font-size: 80%; color: #dc3545;">
                    <div>Fecha mínima {{min_date_}}</div>
                  </div>
                  <mat-form-field appearance="fill" style="width: 76px; padding-left: 7px;">
                    <mat-label>Hora</mat-label>
                    <select matNativeControl required formControlName="horaInicio" (change)="set_horas_fin();">
                      <option value="00" selected>00</option>
                      <option value="00">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                    </select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" style="width: 75px; padding-left: 7px;">
                    <mat-label>Min.</mat-label>
                    <select matNativeControl required formControlName="minInicio">
                      <option value="00" selected>00</option>
                      <option value="15">15</option>
                      <option value="30">30</option>
                      <option value="45">45</option>
                    </select>
                  </mat-form-field>
                  <div *ngIf="f_inicio_error"
                    style="width: 100%;  margin-top: 0.25rem; font-size: 80%; color: #dc3545;">
                    <div>Fecha mínima {{min_date_}}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 date1">
                <mat-form-field appearance="fill" style="width: 150px;">
                  <mat-label>Fin*</mat-label>
                  <input matInput [matDatepicker]="picker1" [min]="fechamat" [readonly]="inputReadonly"
                    [(ngModel)]="fechamatfin" formControlName="fechaHoraFin" (dateChange)="set_horas_fin();">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 76px;  padding-left: 7px;">
                  <mat-label>Horas</mat-label>
                  <select matNativeControl required formControlName="horaFin">
                    <option *ngFor="let item of horas_fin" [value]="item.value">{{ item.id }}</option>
                  </select>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 75px;  padding-left: 7px;">
                  <mat-label>Min.</mat-label>
                  <select matNativeControl required formControlName="minFin">
                    <option value="00" selected>00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col-md-4" style="display: none;">
              </div>
              <div class="col-md-12" style="padding-bottom: 20px;">
              </div>
              <div class="col-md-12">
                <p class="Reboto-medium subtitle">¿Qué lugar elegiste?</p>
              </div>

              <div class="col-md-5">
                <mat-form-field appearance="fill" style="width: 100%;">
                  <mat-label>Selecciona una ciudad</mat-label>
                  <mat-select disableRipple required placeholder="Ciudad" formControlName="ciudad" (selectionChange)="getMunicipio();">
                    <mat-option *ngFor="let item of estados" value={{item.id}}>{{item.estado}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-7">
                <mat-form-field appearance="fill" style="width: 100%;">
                  <mat-label>Selecciona Alcaldía</mat-label>
                  <mat-select  required formControlName="idCatMunicipio">
                    <mat-option *ngFor="let item of municipios" [value]=item.id>{{item.municipio}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="fill" style="width: 100%;">
                  <mat-label>Calle y numero exterior.</mat-label>
                  <input matInput placeholder="Calle y numero exterior." required formControlName="calleNumero">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="fill" style="width: 100%;">
                  <mat-label>Colonia</mat-label>
                  <input matInput placeholder="Colonia" required formControlName="colonia">
                </mat-form-field>
              </div>
              <div class="col-md-12" style="align-items: center; text-align: center;">
                <div class="row contenedor_uno d-none d-md-block" style="margin: 0% auto; border-radius: 10px; width: 100%;">
                  <div class="col-md-12">
                    <span class="btn contenedor_uno_atras Reboto-medium" (click)="after()">Regresar</span>
                  </div>
                  <div class="col-md-1" style="display: none;">
                    <button id="idformbtu" class="btn contenedor_uno_siguiente Reboto-medium"> Siguiente </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="servicios servicios_bgcolor">
          <img src="./assets/wizard/Group 121.png" alt="" class="servicios_bgcolor_img">
          <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
            <ngb-panel id="custom-panel-1">
              afuera
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <p class="Reboto-medium pTotal">Solicitud de servicios</p>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <!--OPEN ICON-->
                    <span class="material-icons icon_color" *ngIf="!opened">
                      expand_more
                    </span>
                    <!--CLOSE ICON-->
                    <span class="material-icons icon_color" *ngIf="opened">
                      expand_less
                    </span>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="servicios_justify">
                  <div *ngFor="let item of Productos_listado">
                    <!-- <img style="width: 16px; cursor: pointer;" src="https://img.icons8.com/ios/50/000000/delete-sign--v1.png"/>-->
                    <img style="width: 16px; cursor: pointer;" (click)="modify_list(item)"
                      src="https://img.icons8.com/material-outlined/64/000000/trash--v1.png" />
                    <span class="productlist">
                      {{item.cantidadUnidades}} {{item.Nombre}}
                    </span>
                    <span class="productlist" *ngIf="item.cantidadHoras != null && item.especificarTiempo != null"
                      style="font-style: italic;"> ({{item.cantidadHoras}} hrs)</span>
                    <span class="productlist_precio"> {{item.Precio *
                      item.cantidadUnidades * item.cantidadHoras | currency}}
                    </span>
                  </div>
                  <div *ngIf="flete > 0">
                    <img style="width: 28px;"
                      src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/60/4a90e2/external-truck-ecommerce-vitaliy-gorbachev-blue-vitaly-gorbachev.png" />
                    <span class="productlist">
                      &nbsp;&nbsp;Servicio de flete (Mobiliario)
                    </span>
                    <span class="productlist_precio">
                      $650.00
                    </span>
                  </div>
                  <div class="separator"></div>
                  <div class="total">
                    <span class="p">Subtotal del carrito</span>
                    <span class="p">{{Subtotal | currency}}</span>
                  </div>
                  <div class="total">
                    <span class="p">IVA</span>
                    <span class="p">{{IVA | currency}}</span>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <div class="servicios_justify" style="padding: 20px;">
            <div class="separator"></div>
            <div class="total">
              <span class="p Reboto-medium">Servicios</span>
              <span class="p Reboto-medium">{{Productos_listado.length}}</span>
            </div>
            <div class="separator"></div>
            <div class="total">
              <span class="pTotal Reboto-medium">Total</span>
              <span class="p Reboto-medium">{{total | currency}}</span>
            </div>
            <!-- <div class="pagar_contenedor_botones form-group" *ngIf="Productos_listado.length != 0">
              <button class="btn pagar_siguiente Reboto-medium" (click)="next_validate_total();">Continuar</button>
            </div> -->
            <div class="pagar_paga_botones d-md-none" style="align-items: center; text-align: center;">

              <span class="btn pagar_atras Reboto-medium" (click)='back_step2()'>Regresar</span> &nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;

              <button class="btn pagar__siguiente Reboto-medium" 
              style="height: auto; font-size: 16px;"
              (click)="do_click_form(2);">
              Validar Disponibilidad</button>
            </div>
            <div class="d-none d-md-block" style=" margin-top: 15%; align-items: center; text-align: center;">
              <button class="btn pagar__siguiente Reboto-medium" 
              style="height: auto; font-size: 16px;"
              (click)="do_click_form(1);">Validar Disponibilidad</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------------------------paso 3------------------------------->
  <!----------------------------------------------------------paso 3------------------------------->
  <!----------------------------------------------------------paso 3------------------------------->
  <div [ngClass]="steps_css.tres">
    <!----------------------------------------------------------paso 3a ------------------------------->
    <div class="container" [ngClass]="step0">
      <div class="titulos_stepper">
        <img src="./assets/wizard/step_tres.png" alt="" class="titulos_stepper_img">
        &nbsp;
        <span class="Reboto-medium">Confirma y Paga</span>
      </div>
      <div class="row contenedor_cuatro">
        <div class="col-md-7">
          <div class="eventos_seleccionados">
            <div class="col-md-12">
              <div class="col-md-6">
                <p class="Reboto-medium subtitle">Datos de contacto</p>
              </div>
              <p><img src="./assets/Home/copy_profile.png" *ngIf="appComponent.data_user_model_app != null"
                  (click)="set_datos_cuenta();" alt="" height="25px" width="25px"
                  style="margin-left: 4px; cursor:pointer;">
                <span (click)="set_datos_cuenta();" *ngIf="appComponent.data_user_model_app != null"
                  style="cursor:pointer; margin-left: 2px; color: blue; font-size: 15px; font-weight: bold; text-decoration: underline;">
                  Copiar de mi cuenta
                </span>
              </p>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Nombre del Contratante*</mat-label>
                <input matInput placeholder="Nombre del contratante*" (focusout)="validate_nombre();"
                  [ngClass]="{ 'is-invalid': error_nombre }" [(ngModel)]="nombreContratane">
              </mat-form-field>
              <div *ngIf="error_nombre" class="erorr" style="margin-top: -15px;">
                <div *ngIf="error_nombre">Campo incompleto</div>
              </div>
            </div>
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Correo electrónico*</mat-label>
                <input matInput placeholder="Correo electrónico *" [ngClass]="{ 'is-invalid': error_correo }"
                  [pattern]="emailRegex" [(ngModel)]="correo" (focusout)="validate_correo();">
              </mat-form-field>
              <div *ngIf="error_correo" class="erorr" style="margin-top: -15px;">
                <div *ngIf="error_correo">Campo incorrecto</div>
              </div>
            </div>
            <div class="col-md-12">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Teléfono fijo o celular*</mat-label>
                <input type="tel" matInput #message maxlength="12" onKeyPress="if(this.value.length==12) return false;"
                  placeholder="Teléfono fijo o celular *" [ngClass]="{ 'is-invalid': error_telefono }"
                  [(ngModel)]="telefono" (focusout)="validate_telefono();">
                <mat-hint align="end">{{message.value.length}} / 12</mat-hint>
              </mat-form-field>
              <div *ngIf="error_telefono" class="erorr" style="margin-top: -15px;">
                <div *ngIf="error_telefono">Campo incompleto</div>
              </div>
            </div>
          </div>
          <div class="eventos_seleccionados">
            <p class="Reboto-medium eventos_seleccionados_titulo" style="font-size: 18px;">
              <img src="./assets/Home/date2.png" width="45px">
              Agendaste tu evento
            </p>
            <div class="eventos_seleccionados_flex">
              <span class="Reboto-medium eventos_seleccionados_titulo">Inicio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="eventos_seleccionados_descripcion">{{data_model.fechaHoraInicio | date:
                  'dd/MM/yyyy - hh:mm a'}}</span></span>
            </div>
            <div class="eventos_seleccionados_flex">
              <span
                class="Reboto-medium eventos_seleccionados_titulo">Fin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="eventos_seleccionados_descripcion">{{data_model.fechaHoraFin | date:
                  'dd/MM/yyyy - hh:mm a'}}</span></span>
            </div>
          </div>
          <div class="eventos_seleccionados">
            <p class="Reboto-medium eventos_seleccionados_titulo" style="font-size: 18px;">
              <img src="./assets/Home/2898588.png" width="47px">
              En la dirección
            </p>
            <div class="eventos_seleccionados_flex">
              <span class="eventos_seleccionados_descripcion">
                <span style="font-weight: bold;">Calle: </span> {{data_model.calleNumero}},
                <span style="font-weight: bold;">Colonia: </span> {{data_model.colonia}},
                <span style="font-weight: bold;">CP:</span>
                <span *ngIf="data_model.cp != null">{{data_model.cp}}</span>
                <span *ngIf="data_model.cp == null">M/A</span>,
                <span style="font-weight: bold;">Ciudad:</span> CDMX,
                <span style="font-weight: bold;">Alcaldia:</span> {{getName(data_model.idCatMunicipio)}}
              </span>
            </div>
          </div>
          <div class="d-none d-md-block">
            <div class="pagar_paga_btn form-group">
              <button class="btn pagar_atras Reboto-medium" (click)='back_step2a()'>Regresar</button> &nbsp; &nbsp;
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="servicios servicios_bgcolor">
            <img src="./assets/wizard/Group 121.png" alt="" class="servicios_bgcolor_img">
            <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
              <ngb-panel id="custom-panel-1">
                afuera
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="Reboto-medium pTotal">Solicitud de servicios</p>
                    <button ngbPanelToggle class="btn btn-link p-0">
                      <!--OPEN ICON-->
                      <span class="material-icons icon_color" *ngIf="!opened">
                        expand_more
                      </span>
                      <!--CLOSE ICON-->
                      <span class="material-icons icon_color" *ngIf="opened">
                        expand_less
                      </span>
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="servicios_justify">
                    <div *ngFor="let item of Productos_listado">
                      <!-- <img style="width: 16px; cursor: pointer;" src="https://img.icons8.com/ios/50/000000/delete-sign--v1.png"/>-->
                      <img style="width: 16px; cursor: pointer;" *ngIf="Productos_listado.length > 1"
                        (click)="modify_list(item)"
                        src="https://img.icons8.com/material-outlined/64/000000/trash--v1.png" />
                      <span class="productlist">
                        {{item.cantidadUnidades}} {{item.Nombre}}
                      </span>
                      <span class="productlist" *ngIf="item.cantidadHoras != null && item.especificarTiempo != null"
                        style="font-style: italic;"> ({{item.cantidadHoras}} hrs)</span>
                      <span class="productlist_precio"> {{item.Precio *
                        item.cantidadUnidades * item.cantidadHoras | currency}}
                      </span>
                    </div>
                    <div *ngIf="flete > 0">
                      <img src="./assets/home-dos/ship.png" style="width: 28px;">
                      <span class="productlist">
                        &nbsp;&nbsp;Servicio de flete (Mobiliario)
                      </span>
                      <span class="productlist_precio">
                        $650.00
                      </span>
                    </div>
                    <div class="separator"></div>
                    <div class="total">
                      <span class="p">Subtotal del carrito</span>
                      <span class="p">{{Subtotal | currency}}</span>
                    </div>
                    <div class="total">
                      <span class="p">IVA</span>
                      <span class="p">{{IVA | currency}}</span>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <div class="servicios_justify" style="padding: 20px;">
              <div class="separator"></div>
              <div class="total">
                <span class="p Reboto-medium">Servicios</span>
                <span class="p Reboto-medium">{{Productos_listado.length}}</span>
              </div>
              <div class="separator"></div>
              <div class="total">
                <span class="pTotal Reboto-medium">Total</span>
                <span class="p Reboto-medium">{{total | currency}}</span>
              </div>
              <div class="pagar_contenedor_botones form-group d-none d-md-block"
                style="align-content: center; text-align: center; padding-top: 15px;"
                *ngIf="Productos_listado.length != 0">
                <button class="btn pagar__siguiente Reboto-medium" (click)="pagarOpciones(1)">Continuar</button>
              </div>
            </div>
            <div class="pagar_paga_botones  d-block d-md-none">
              <button class="btn pagar_atras Reboto-medium" (click)='back_step2a()'>Regresar</button> &nbsp;
              &nbsp;
              <button class="btn pagar__siguiente Reboto-medium" (click)="pagarOpciones(2)">Continuar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------------------------------paso 3b ------------------------------->
    <div class="container" [ngClass]="step1">
      <div class="titulos_stepper_paga">
        <img src="./assets/wizard/step_tres.png" alt="" class="titulos_stepper_img">
        &nbsp;
        <span class="Reboto-medium">Confirma y Paga</span>
      </div>
      <div class="row contenedor_cuatro">
        <div class="col-md-7">
          <div class="eventos_seleccionados">
            <p class="Reboto-medium eventos_seleccionados_titulo" style="font-size: 22px;">
              <img src="./assets/Home/evento_user.png" width="50px">
              Monto total: {{total | currency}}
            </p>
            <div class="eventos_seleccionados_flex">
              <span class="Reboto-medium eventos_seleccionados_titulo">Inicio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="eventos_seleccionados_descripcion">{{data_model.fechaHoraInicio | date:
                  'dd/MM/yyyy - hh:mm a'}}</span></span>
            </div>
            <div class="eventos_seleccionados_flex">
              <span
                class="Reboto-medium eventos_seleccionados_titulo">Servicios&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="eventos_seleccionados_descripcion">{{Productos_listado.length}}</span></span>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="req_factura">
              <label class="Reboto-medium eventos_seleccionados_titulo" for="flexCheckDefault"
                style="font-weight: bold;">
                Requiero Factura
              </label>
            </div>
            <div class="eventos_seleccionados_flex">
              <span  style="font-style: italic; font-size:13px; color: gray;">
                Un asesor de Conevento te contactará en menos de 24hrs
              </span>
            </div>
            <br>
            <div>
              <p class="Reboto-medium eventos_seleccionados_titulo" style="font-weight: bold;">¿Cuentas con un cupón?</p>
            </div>
            <div class="input-group mb-6 margen_cero">
              <input type="text" class="form-control" [formControl]="_cupon" placeholder="Ingresa el cupón"
              aria-label="Calle y numero exterior" aria-describedby="basic-addon1"
              name="filterpost">
              <button class="btn animate_boton" (click)="validaCupon()">Aplicar</button>
            </div>
            <div class="eventos_seleccionados_flex">
              <span  style="font-style: italic; font-size:13px; color: gray;">
                {{mensaje}}
              </span>
            </div>
          </div>
          <div>
            <p class="titleHeader Reboto-medium">¿Cómo quieres pagar?</p>
          </div>
          <div class="container">
            <div class="row">
              <button class="button-8" (click)="view_pay_method('card')">
                <img width="32px;" src="https://img.icons8.com/ultraviolet/40/000000/bank-card-back-side.png" />
                Tarjeta
              </button>
              <button class="button-8" (click)="view_pay_method('paypal')">
                <img width="30px;"
                  src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/4a90e2/external-paypal-an-online-payments-system-operating-worldwide-logo-color-tal-revivo.png" />
                Pay Pal
              </button>
              <button class="button-8" (click)="view_pay_method('oxxo')" *ngIf="total <= 10000">
                <img width="32px" src="https://img.icons8.com/fluency/48/000000/online-store.png" />
                Oxxo
              </button>
            </div>
          </div>
          <div [ngClass]="card_css.paypal">
            <div class="container">
              <div class="div_card_stripe">
                <span class="p Reboto-medium">Pago PayPal </span>
                <br>
                <span class="p" style="font-size: 14px;">Utiliza tu cuenta haciendo click: </span>
                <div class="div_card_stripe">
                  <ngx-paypal [config]="payPalConfig" style=" height: auto;">
                  </ngx-paypal>
                  <div style="font-size: large; color: red; font-weight: bolder;" *ngIf="error_alguardar">
                    Ha ocurrido un error al guardar el evento, por favor contacta a administración
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container" [ngClass]="card_css.oxxo">
            <div class="container">
              <div class="div_card_stripe">
                <span class="p Reboto-medium">Pago En Oxxo</span>
                <br>
                <span class="p" style="font-size: 14px;">Indicanos tus datos de pago: </span>
                <div class="">
                  <form id="payment-form" style="width: 100%; padding: 3%;">
                    <div class="form-row">
                      <label for="name">
                        Nombre
                      </label>
                      <input id="name" name="name" (ngModelChange)="oxxo_Change($event)" required class="form-control"
                        [(ngModel)]="nombre_oxxo">
                    </div>
                    <div class="form-row">
                      <label for="email">
                        Email
                      </label>
                      <input id="email" name="email" (ngModelChange)="oxxo_Change($event)" required class="form-control"
                        [(ngModel)]="email_oxxo">
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="error-message" role="alert"
                      style="color: red; padding-top: 2px; padding-bottom: 2px; font-size: 13px;">
                    </div>
                    <button id="submit-button" class="button-9" style="padding-top: 2px; font-size: 14px;"
                      role=" button" (click)="paymentintent_params('oxxo');">
                      <img width="35px" src="https://img.icons8.com/fluency/48/000000/online-store.png" />
                      GENERAR VOUCHER
                    </button>
                    <br>
                    <span
                      style="margin: 1%; margin-top: 4%; text-align: center; font-style: italic; color: rgb(102, 101, 101); font-size: small;">
                      Desarrollado por
                    </span>
                    <img width="33px" src="https://img.icons8.com/color/48/4a90e2/stripe.png" />
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="container eventos_seleccionados" [ngClass]="card_css.card">
            <div class="div_card_stripe">
              <span class="p Reboto-medium">Pago con tarjeta </span>
              <br>
              <span class="p" style="font-size: 14px;">Ingresa los datos de la tarjeta: </span>
              <div id="card-element" style="background-color: white;" class="div_card_stripe"></div>
              <div id="card-errors" style="color: red; padding-top: 2px; padding-bottom: 2px;"></div>
              <button id="button" class="button-9" role="button" (click)="paymentintent_params('card');">
                <img width="32px;" src="https://img.icons8.com/ultraviolet/40/000000/bank-card-back-side.png" />
                PAGAR
              </button>
              <br>
              <span
                style="margin: 1%; margin-top: 4%; text-align: center; font-style: italic; color: rgb(102, 101, 101); font-size: small;">
                Desarrollado por
              </span>
              <img width="33px" src="https://img.icons8.com/color/48/4a90e2/stripe.png" />
            </div>
          </div>
          <button id="stripe_click" style="display: none;" (click)='saveEvent(1, 1, "Stripe-CC")'>Finalizar</button>
          <button id="stripe_click_o" style="display: none;" (click)='saveEvent(1, 1, "Stripe-OXXO")'>Finalizar</button>
          <div class="d-none d-md-block">
            <div class="pagar_paga_btn form-group">
              <button class="btn pagar_atras Reboto-medium"
                (click)='step = 0; step0 = "class-view"; step1 = "class-none"; '>Regresar</button>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="servicios servicios_bgcolor">
            <img src="./assets/wizard/Group 121.png" alt="" class="servicios_bgcolor_img">
            <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
              <ngb-panel id="custom-panel-1">
                afuera
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="Reboto-medium pTotal">Detalle del pedido</p>
                    <button ngbPanelToggle class="btn btn-link p-0">
                      <!--OPEN ICON-->
                      <span class="material-icons icon_color" *ngIf="!opened">
                        expand_more
                      </span>
                      <!--CLOSE ICON-->
                      <span class="material-icons icon_color" *ngIf="opened">
                        expand_less
                      </span>
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="servicios_justify">
                    <div *ngFor="let item of Productos_listado">
                      <!-- <img style="width: 16px; cursor: pointer;" src="https://img.icons8.com/ios/50/000000/delete-sign--v1.png"/>-->
                      <img style="width: 16px; cursor: pointer;" *ngIf="Productos_listado.length > 1"
                        (click)="modify_list(item)"
                        src="https://img.icons8.com/material-outlined/64/000000/trash--v1.png" />
                      <span class="productlist">
                        {{item.cantidadUnidades}} {{item.Nombre}}
                      </span>
                      <span class="productlist" *ngIf="item.cantidadHoras != null && item.especificarTiempo != null"
                        style="font-style: italic;"> ({{item.cantidadHoras}} hrs)</span>
                      <span class="productlist_precio"> {{item.Precio *
                        item.cantidadUnidades * item.cantidadHoras | currency}}
                      </span>
                    </div>
                    <div *ngIf="mensaje == 'Cupon valido'">
                      <img style="width: 16px; cursor: pointer;"
                        (click)="deleteCupon()"
                        src="https://img.icons8.com/material-outlined/64/000000/trash--v1.png" />
                      <span class="productlist"
                        style="font-style: italic;"> Cupón</span>
                      <span class="productlist_precio">
                        -{{ totalCuponPesos| currency}}
                      </span>
                    </div>
                    <div *ngIf="flete > 0">
                      <img src="./assets/home-dos/ship.png" style="width: 28px;">
                      <span class="productlist">
                        &nbsp;&nbsp;Servicio de flete (Mobiliario)
                      </span>
                      <span class="productlist_precio">
                        $650.00
                      </span>
                    </div>
                    <div class="separator"></div>
                    <div class="total">
                      <span class="p">Subtotal del carrito</span>
                      <span class="p">{{Subtotal | currency}}</span>
                    </div>
                    <div class="total">
                      <span class="p">IVA</span>
                      <span class="p">{{IVA | currency}}</span>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <div class="servicios_justify" style="padding: 20px;">
              <div class="separator"></div>
              <div class="total">
                <span class="p Reboto-medium">Servicios</span>
                <span class="p Reboto-medium">{{Productos_listado.length}}</span>
              </div>
              <div class="separator"></div>
              <div class="total">
                <span class="pTotal Reboto-medium">Total</span>
                <span class="p Reboto-medium">{{total | currency}}</span>
              </div>
              <div class="pagar_paga_botones  d-block d-md-none" style="text-align: center;">
                <button class="btn pagar_atras Reboto-medium"
                  (click)='step = 0; step0 = "class-view"; step1 = "class-none"; '>Regresar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------paso 4-------------------------------------->
  <!--------------------------------------------paso 4-------------------------------------->
  <!--------------------------------------------paso 4-------------------------------------->
  <div class="container" [ngClass]="steps_css.cuatro">
    <div class="titulos_stepper_paga">
      &nbsp;
    </div>
    <div class="row">
      <div class="step_final_center">
        <div class="step_final">
          <p class="step_final_color Reboto-medium step_final_size">¡Disfruta de tu evento!</p>
          <img src="./assets/wizard/Group 92.png" alt="" class="step_final_img">
          <p class="step_final_color Reboto-medium step_final_size_">Gracias por tu preferencia</p>
          <p class="step_final_descripcion">Un asesor se pondrá en contacto contigo en 24 hrs. hábiles <br>
            Te acompañará y se asegurará de que tu evento sea
            un éxito.
          </p>
        </div>
      </div>
      <div class="contenedor_uno_contenedor_botones ancho">
        <button class="btn contenedor_uno_siguiente Reboto-medium" onclick="location.reload();">Armar otro
          evento</button>
        <button class="btn contenedor_uno_atras Reboto-medium" [routerLink]="['/']"
          routerLinkActive="router-link-active">Home</button>
      </div>
    </div>
  </div>
</div>