<div class="bg">
  <div class="spacer"></div>
  <!--STEPPER PARA DESKTOP-->
  <div class="d-none d-md-block">
    <div class="container">
      <div class="row stepers steps-container">
        <div class="col-4 title-step">
          Arma tu evento <br>
          en <span>sólo 3 pasos</span> 👉
        </div>

        <div class="col-2 step no-padding">
          <span class="header" [ngClass]="{'selected': steps.uno == 'selected', 'ready': steps.uno == 'complete'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>

          <div class="info">
            <span class="Reboto-medium">1.- Agenda</span><br>
            <span class="info description">Especifica el momento, el lugar y los invitados de tu evento</span>
          </div>
        </div>

        <div class="col-2 step no-padding">
          <span class="header"
            [ngClass]="{'selected': steps.dos == 'selected', 'ready': steps.dos == 'complete', 'next': steps.dos == 'next'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>

          <div class="info">
            <span class="Reboto-medium">2.- Selecciona servicios</span><br>
            Selecciona el personal y <br>
            artículos que requieras.
          </div>
        </div>

        <div class="col-2 step no-padding">
          <span class="header"
            [ngClass]="{'selected': steps.tres == 'selected', 'ready': steps.tres == 'complete', 'next': steps.tres == 'next'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>

          <div class="info">
            <span class="Reboto-medium">3.- Confirma y paga</span><br>
            Elige la opción de pago <br>
            de manera segura
          </div>
        </div>
        <div class="col-2 no-padding finish-step">
          <img src="./assets/wizard/Group 92.svg" alt="">
          <span class="Reboto-medium">¡Disfruta <br> tu evento!</span>
        </div>

      </div>
    </div>
  </div>
  <!--STEPPER PARA MOBILE-->
  <div class="d-block d-md-none">
    <div class="container">
      <div class="row stepers steps-container">

        <div class="col-3 step no-padding">
          <span class="header" [ngClass]="{'selected': steps.uno == 'selected', 'ready': steps.uno == 'complete'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>

          <div class="info">
            <span class="Reboto-medium">1.- Agenda</span>
          </div>
        </div>

        <div class="col-3 step no-padding">
          <span class="header"
            [ngClass]="{'selected': steps.dos == 'selected', 'ready': steps.dos == 'complete', 'next': steps.dos == 'next'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>

          <div class="info">
            <span class="Reboto-medium">2.- Selecciona servicios</span>
          </div>
        </div>

        <div class="col-3 step no-padding">
          <span class="header"
            [ngClass]="{'selected': steps.tres == 'selected', 'ready': steps.tres == 'complete', 'next': steps.tres == 'next'}">
            <span class="material-icons complete">
              check_circle
            </span>
            <span class="material-icons active">
              radio_button_checked
            </span>
            <div class="progress" style="height: 6px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </span>

          <div class="info">
            <span class="Reboto-medium">3.- Confirma y paga</span>
          </div>
        </div>

        <div class="col-3 no-padding finish-step">
          <img src="./assets/wizard/Group 92.svg" alt="">
          <span class="Reboto-medium">¡Disfruta <br> tu evento!</span>
        </div>

      </div>
    </div>
  </div>

  <div class="spacer"></div>


  <!------------------paso 1----------------->
  <div class="container" *ngIf="steps.uno == 'selected'">
    <div class="titulos_stepper">
      <img src="./assets/wizard/step_uno.png" alt="" class="titulos_stepper_img">
      &nbsp;
      <span class="Reboto-medium">Agenda tu evento</span>
    </div>
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
      <div class="row contenedor_uno">
        <div class="col-md-6">
          <p class="Reboto-medium subtitle">¿Cuando será el momento de tu evento?</p>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <p>Fecha y hora inicio *</p>
          <div class="input-group mb-3 margen_cero">
            <input type="datetime-local" class="form-control" placeholder="Fecha de inicio"
              aria-label="Fecha y hora inicio" aria-describedby="basic-addon1"
              [ngClass]="{ 'is-invalid': submitted && f.fechaHoraInicio.errors }" formControlName="fechaHoraInicio">
            <div *ngIf="submitted && f.fechaHoraInicio.errors" class="invalid-feedback">
              <div *ngIf="f.fechaHoraInicio.errors.required">Campo requerido</div>
            </div>
          </div>

          <p>Gente esperada *</p>
          <div class="input-group mb-3 margen_cero">
            <input type="number" class="form-control" placeholder="Gente esperada" aria-label="Gente esperada"
              aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.genteEsperada.errors }"
              formControlName="genteEsperada">
            <div *ngIf="submitted && f.genteEsperada.errors" class="invalid-feedback">
              <div *ngIf="f.genteEsperada.errors.required">Campo requerido</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <p>Fecha y hora final *</p>
          <div class="input-group mb-3 margen_cero">
            <input type="datetime-local" class="form-control" placeholder="Fecha y hora final"
              aria-label="Fecha y hora final" aria-describedby="basic-addon1"
              [ngClass]="{ 'is-invalid': submitted && f.fechaHoraFin.errors }" formControlName="fechaHoraFin">
            <div *ngIf="submitted && f.fechaHoraFin.errors" class="invalid-feedback">
              <div *ngIf="f.fechaHoraFin.errors.required">Campo requerido</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <p class="Reboto-medium subtitle">¿Qué lugar elejiste?</p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <p>Ciudad *</p>
          <select class="form-select quiz_select form-control" aria-label="Default select example"
            [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }" formControlName="ciudad">
            <option value=1 selected>CDMX</option>
          </select>
          <div *ngIf="submitted && f.ciudad.errors" class="invalid-feedback">
            <div *ngIf="f.ciudad.errors.required">Campo requerido</div>
          </div>
        </div>

        <div class="col-md-4">
          <p>Alcaldia o municipio *</p>
          <select class="form-select quiz_select form-control" aria-label="Default select example"
            [ngClass]="{ 'is-invalid': submitted && f.idCatMunicipio.errors }" formControlName="idCatMunicipio">
            <option value=1>Benito Juarez</option>
            <option value=2>Coyoacan</option>
            <option value=3>Milpa Alta</option>
            <option value=4>Venustiano Carranza</option>
            <option value=5>Cuajimalpa</option>
          </select>
          <div *ngIf="submitted && f.idCatMunicipio.errors" class="invalid-feedback">
            <div *ngIf="f.idCatMunicipio.errors.required">Campo requerido</div>
          </div>
        </div>

        <div class="col-md-4">
          <p>Código postal</p>
          <div class="input-group mb-3 margen_cero">
            <input type="text" class="form-control" placeholder="Código postal" aria-label="Código postal"
              aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.cp.errors }"
              formControlName="cp">
            <div *ngIf="submitted && f.cp.errors" class="invalid-feedback">
              <div *ngIf="f.cp.errors.required">Campo requerido</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <p>Calle y numero exterior *</p>
          <div class="input-group mb-3 margen_cero">
            <input type="text" class="form-control" placeholder="Calle y numero exterior"
              aria-label="Calle y numero exterior" aria-describedby="basic-addon1"
              [ngClass]="{ 'is-invalid': submitted && f.calleNumero.errors }" formControlName="calleNumero">
            <div *ngIf="submitted && f.calleNumero.errors" class="invalid-feedback">
              <div *ngIf="f.calleNumero.errors.required">Campo requerido</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <p>Colonia *</p>
          <div class="input-group mb-3 margen_cero">
            <input type="text" class="form-control" placeholder="Colonia" aria-label="Colonia"
              aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.colonia.errors }"
              formControlName="colonia">
            <div *ngIf="submitted && f.colonia.errors" class="invalid-feedback">
              <div *ngIf="f.colonia.errors.required">Campo requerido</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <p class="Reboto-medium subtitle">Datos de contacto</p>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <p>Nombre del contratante *</p>
          <div class="input-group mb-3 margen_cero">
            <input type="text" class="form-control" placeholder="Nombre del contratante"
              aria-label="Datos del contratante" aria-describedby="basic-addon1"
              [ngClass]="{ 'is-invalid': submitted && f.nombreContratane.errors }" formControlName="nombreContratane">
            <div *ngIf="submitted && f.nombreContratane.errors" class="invalid-feedback">
              <div *ngIf="f.nombreContratane.errors.required">Campo requerido</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <p>Nombre del evento</p>
          <div class="input-group mb-3 margen_cero">
            <input type="text" class="form-control" placeholder="Nombre del evento" aria-label="Nombre del evento"
              aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.nombreEvento.errors }"
              formControlName="nombreEvento">
            <div *ngIf="submitted && f.nombreEvento.errors" class="invalid-feedback">
              <div *ngIf="f.nombreEvento.errors.required">Campo requerido</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <p>Correo electrónico *</p>
          <div class="input-group mb-3 margen_cero">
            <input type="text" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico"
              aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }"
              [pattern]="emailRegex" formControlName="correo">
            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
              <div *ngIf="f.correo.errors.required">Campo requerido</div>
            </div>
            <div *ngIf="f.correo.errors?.pattern" class="invalid-feedback">
              Formato de correo incorrecto
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <p>Teléfono fijo o celular *</p>
          <div class="input-group mb-3 margen_cero">
            <input type="tel" class="form-control" placeholder="Teléfono fijo o celular"
              aria-label="Teléfono fijo o celular" aria-describedby="basic-addon1"
              [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" formControlName="telefono">
            <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
              <div *ngIf="f.telefono.errors.required">Campo requerido</div>
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor_uno_contenedor_botones form-group">
        <button class="btn contenedor_uno_siguiente Reboto-medium">Siguiente</button>
        <button class="btn contenedor_uno_atras Reboto-medium" [routerLink]="['/']"
          routerLinkActive="router-link-active">Regresar</button>
      </div>
    </form>
  </div>
  <!------------------paso 2----------------->
  <div class="container" *ngIf="steps.dos == 'selected'">
    <div class="titulos_stepper">
      <img src="./assets/wizard/step_dos.png" alt="" class="titulos_stepper_img">
      &nbsp;
      <span class="Reboto-medium">Selecciona servicios</span>
    </div>
    <div class="row contenedor_uno">
      <div class="col-md-7">
        <div class="row">

          <div class="col-md-6" *ngFor="let item of categorias">
            <div class="servicios_contenedor_imagen pointer zoom" (click)="selectServices(item);">
              <div id="a" class="servicios_contenedor_interno">
                <div class="radio">
                  <span class="span_select" *ngIf="item.numproductos.length > 0"> {{item.numproductos.length}} Elementos
                    eleccionados</span>
                  <div class="radio_circle">
                    <img src="./assets/wizard/Vector.svg" alt="" *ngIf="item.checked" class="radio_img">
                  </div>
                </div>
                <img [src]="item.imagenSeleccion" alt="" class="servicios_img_principal">
                <p class="servicios_color_texto reboto-regular">{{item.categoria}}</p>
                <img src="./assets/wizard/bi_info-circle.png" alt="" class="servicios_img_informacion">
              </div>
              <div id="b" class="none size">{{item.descripcion}}</div>
            </div>

          </div>


        </div>
      </div>
      <div class="col-md-5">
        <div class="servicios servicios_bgcolor">
          <img src="./assets/wizard/Group 121.png" alt="" class="servicios_bgcolor_img">

          <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
            <ngb-panel id="custom-panel-1">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <p class="Reboto-medium pTotal">Solicitud de servicios</p>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <!--OPEN ICON-->
                    <span class="material-icons icon_color" *ngIf="!opened">
                      expand_more
                    </span>
                    <!--CLOSE ICON-->
                    <span class="material-icons icon_color" *ngIf="opened">
                      expand_less
                    </span>
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="servicios_justify">
                  <div *ngFor="let item of Productos_listado">
                    <p class="p">{{item.cantidadUnidades}} {{item.Nombre}}</p>
                    <p class="p" *ngIf="item.idCategoria == 6 || item.idCategoria == 7">1 Servicio de flete</p>
                  </div>

                  <div class="separator"></div>

                  <div class="total">
                    <span class="p">Subtotal del carrito</span>
                    <span class="p">{{Subtotal | currency}}</span>
                  </div>

                  <div class="total">
                    <span class="p">IVA</span>
                    <span class="p">{{IVA | currency}}</span>
                  </div>

                  <div class="separator"></div>

                  <div class="total">
                    <span class="p Reboto-medium">Servicios</span>
                    <span class="p Reboto-medium">{{Productos_listado.length}}</span>
                  </div>

                  <div class="separator"></div>

                  <div class="total">
                    <span class="pTotal Reboto-medium">Total</span>
                    <span class="p Reboto-medium">{{total | currency}}</span>
                  </div>

                </div>

                <div class="pagar_contenedor_botones form-group" *ngIf="Productos_listado.length != 0">
                  <button class="btn pagar_siguiente Reboto-medium" (click)="next()">Pagar</button>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>

    <div class="contenedor_uno_contenedor_botones form-group" *ngIf="Productos_listado.length != 0">
      <button class="btn contenedor_uno_atras Reboto-medium" (click)="after()">Regresar</button>
    </div>
  </div>

  <!------------------paso 3----------------->
  <div *ngIf="steps.tres == 'selected'">
    <div class="container" *ngIf="step == 0">
      <div class="titulos_stepper_paga">
        <img src="./assets/wizard/step_tres.png" alt="" class="titulos_stepper_img">
        &nbsp;
        <span class="Reboto-medium">Confirma y Paga</span>
      </div>
      <div class="row contenedor_cuatro">
        <div class="col-md-7">
          <div class="eventos_seleccionados">
            <p class="Reboto-medium eventos_seleccionados_titulo">Agendaste tu evento</p>
            <div class="eventos_seleccionados_flex">
              <span class="Reboto-medium eventos_seleccionados_titulo">Inicio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="eventos_seleccionados_descripcion">{{data_model.fechaHoraInicio |  date: 'short'}}</span></span>
            </div>
            <div class="eventos_seleccionados_flex">
              <span
                class="Reboto-medium eventos_seleccionados_titulo">Fin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="eventos_seleccionados_descripcion">{{data_model.fechaHoraFin | date: 'short'}}</span></span>
            </div>
          </div>

          <div class="eventos_seleccionados">
            <p class="Reboto-medium eventos_seleccionados_titulo">En la dirección</p>
            <div class="eventos_seleccionados_flex">
              <span class="eventos_seleccionados_descripcion">
                Calle {{data_model.calleNumero}}, Colonia {{data_model.colonia}} Código postal {{data_model.cp}}, CDMX
                {{getName(data_model.idCatMunicipio)}}
              </span>
            </div>
          </div>

          <div class="eventos_seleccionados">
            <p class="Reboto-medium eventos_seleccionados_titulo">Datos de contacto</p>
            <div class="eventos_seleccionados_flex">
              <span class="Reboto-medium eventos_seleccionados_titulo">Nombre contratante <span
                  class="eventos_seleccionados_descripcion">{{data_model.nombreContratane}}</span></span>
            </div>
            <div class="eventos_seleccionados_flex">
              <span class="Reboto-medium eventos_seleccionados_titulo">Correo electrónico <span
                  class="eventos_seleccionados_descripcion">{{data_model.correo}}</span></span>
            </div>
            <div class="eventos_seleccionados_flex">
              <span class="Reboto-medium eventos_seleccionados_titulo">Teléfono <span
                  class="eventos_seleccionados_descripcion">{{data_model.telefono}}</span></span>
            </div>
          </div>

          <div class="d-none d-md-block">
            <div class="pagar_paga_btn form-group">
              <button class="btn pagar_atras Reboto-medium" (click)='back_step2()'>Regresar</button> &nbsp; &nbsp;
              <button class="btn pagar__siguiente Reboto-medium" (click)="pagarOpciones(1)">Continuar</button>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <div class="servicios servicios_bgcolor">
            <img src="./assets/wizard/Group 121.png" alt="" class="servicios_bgcolor_img">
            <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
              <ngb-panel id="custom-panel-1">
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="Reboto-medium pTotal">Solicitud de servicios</p>
                    <button ngbPanelToggle class="btn btn-link p-0">
                      <!--OPEN ICON-->
                      <span class="material-icons icon_color" *ngIf="!opened">
                        expand_more
                      </span>
                      <!--CLOSE ICON-->
                      <span class="material-icons icon_color" *ngIf="opened">
                        expand_less
                      </span>
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="servicios_justify">
                    <div *ngFor="let item of Productos_listado">
                      <p class="p">{{item.cantidadUnidades}} {{item.Nombre}}</p>
                      <p class="p" *ngIf="item.idCategoria == 6 || item.idCategoria == 7">1 Servicio de flete</p>
                    </div>

                    <div class="separator"></div>

                    <div class="total">
                      <span class="p">Subtotal del carrito</span>
                      <span class="p">{{Subtotal | currency}}</span>
                    </div>

                    <div class="total">
                      <span class="p">IVA</span>
                      <span class="p">{{IVA | currency}}</span>
                    </div>

                    <div class="separator"></div>

                    <div class="total">
                      <span class="p Reboto-medium">Servicios</span>
                      <span class="p Reboto-medium">{{Productos_listado.length}}</span>
                    </div>

                    <div class="separator"></div>

                    <div class="total">
                      <span class="pTotal Reboto-medium">Total</span>
                      <span class="p Reboto-medium">{{total | currency}}</span>
                    </div>

                    <div class="pagar_paga_botones  d-block d-md-none">
                      <button class="btn pagar_atras Reboto-medium" (click)='back_step2()'>Regresar</button> &nbsp;
                      &nbsp;
                      <button class="btn pagar__siguiente Reboto-medium" (click)="pagarOpciones(2)">Continuar</button>
                    </div>

                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="step == 1">
      <div class="titulos_stepper_paga">
        <img src="./assets/wizard/step_tres.png" alt="" class="titulos_stepper_img">
        &nbsp;
        <span class="Reboto-medium">Confirma y Paga</span>
      </div>
      <div class="row contenedor_cuatro">
        <div class="col-md-7">
          <div>
            <p class="titleHeader Reboto-medium">¿Como quieres pagar?</p>
          </div>

          <div class="btn-group flex">

            <div class="pago_tarjeta">
              <div class="pago_tarjeta_flex">
                <input type="radio" class="btn-check pointer" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <img src="./assets/wizard/Captura 1.png" alt="" class="pago_tarjeta_img">
                <label for="btnradio1" class="pago_tarjeta_label pointer">Pago con tarjeta</label>
              </div>
            </div>

            <div class="pago_tarjeta">
              <div class="pago_tarjeta_flex">
                <input type="radio" class="btn-check pointer" name="btnradio" id="btnradio2" autocomplete="off" checked>
                <img src="./assets/wizard/Captura2 1.png" alt="" class="pago_tarjeta_imgPago">
                <label for="btnradio2" class="pago_tarjeta_label pointer">Pago con Paypal</label>
              </div>
            </div>

            <div class="pago_tarjeta">
              <div class="pago_tarjeta_flex">
                <input type="radio" class="btn-check pointer" name="btnradio" id="btnradio2" autocomplete="off" checked>
                <img src="./assets/wizard/paypal-logo 1.png" alt="" class="pago_tarjeta_imgPago">
                <label for="btnradio2" class="pago_tarjeta_label pointer">Pago en Oxxo</label>
              </div>
            </div>
            <div class="d-none d-md-block">
              <div class="pagar_paga_btn form-group">
                <button class="btn pagar_atras Reboto-medium" (click)='step = 0'>Regresar</button> &nbsp; &nbsp;
                <button class="btn pagar__siguiente Reboto-medium" (click)="saveEvent(1)">Continuar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="servicios servicios_bgcolor">
            <img src="./assets/wizard/Group 121.png" alt="" class="servicios_bgcolor_img">

            <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
              <ngb-panel id="custom-panel-1">
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="Reboto-medium pTotal">Solicitud de servicios</p>
                    <button ngbPanelToggle class="btn btn-link p-0">
                      <!--OPEN ICON-->
                      <span class="material-icons icon_color" *ngIf="!opened">
                        expand_more
                      </span>
                      <!--CLOSE ICON-->
                      <span class="material-icons icon_color" *ngIf="opened">
                        expand_less
                      </span>
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="servicios_justify">
                    <div *ngFor="let item of Productos_listado">
                      <p class="p">{{item.cantidadUnidades}} {{item.Nombre}}</p>
                      <p class="p" *ngIf="item.idCategoria == 6 || item.idCategoria == 7">1 Servicio de flete</p>
                    </div>

                    <div class="separator"></div>

                    <div class="total">
                      <span class="p">Subtotal del carrito</span>
                      <span class="p">{{Subtotal | currency}}</span>
                    </div>

                    <div class="total">
                      <span class="p">IVA</span>
                      <span class="p">{{IVA | currency}}</span>
                    </div>

                    <div class="separator"></div>

                    <div class="total">
                      <span class="p Reboto-medium">Servicios</span>
                      <span class="p Reboto-medium">{{Productos_listado.length}}</span>
                    </div>

                    <div class="separator"></div>

                    <div class="total">
                      <span class="pTotal Reboto-medium">Total</span>
                      <span class="p Reboto-medium">{{total | currency}}</span>
                    </div>

                    <div class="pagar_paga_botones  d-block d-md-none">
                      <button class="btn pagar_atras Reboto-medium" (click)="step = 0">Regresar</button> &nbsp; &nbsp;
                      <button class="btn pagar__siguiente Reboto-medium" (click)="saveEvent(2)">Continuar</button>
                    </div>

                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------------------paso 4----------------->
  <div class="container" *ngIf="steps.cuatro">
    <div class="titulos_stepper_paga">
      &nbsp;
    </div>
    <div class="row">
      <div class="step_final_center">
        <div class="step_final">
          <p class="step_final_color Reboto-medium step_final_size">¡Disfruta de tu evento!</p>
          <img src="./assets/wizard/Group 92.png" alt="" class="step_final_img">
          <p class="step_final_color Reboto-medium step_final_size_">Gracias por tu preferencia</p>
          <p class="step_final_descripcion">Un asesor se pondrá en contacto contigo en 2 hrs. <br>
            Te acompañará y asegurará de que tu evento sea
            un éxito.
          </p>
        </div>
      </div>

      <div class="contenedor_uno_contenedor_botones ancho">
        <button class="btn contenedor_uno_siguiente Reboto-medium" (click)="reStart();">Armar otro evento</button>
        <button class="btn contenedor_uno_atras Reboto-medium" [routerLink]="['/']"
          routerLinkActive="router-link-active">Ir al inicio</button>
      </div>
    </div>
  </div>

</div>
