<div class="bg">
  <div class="container">
    <div>
      <p>Agenda tu evento</p>
    </div>


    <div class="row contenedor_uno">
      <div class="col-md-6">
        <p class="reboto-regular title">¿Cuando será el momento de tu evento?</p>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <p>Fecha de inicio</p>
        <div class="input-group mb-3 margen_cero">
          <input type="date" class="form-control" placeholder="Fecha de inicio" aria-label="Fecha de inicio"
            aria-describedby="basic-addon1" required>
        </div>

        <p>Hora de inicio</p>
        <div class="input-group mb-3 margen_cero">
          <input type="time" class="form-control" placeholder="Hora de inicio" aria-label="Hora de inicio"
            aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-6">
        <p>Hora de inicio</p>
        <div class="input-group mb-3 margen_cero">
          <input type="date" class="form-control" placeholder="Fecha del final" aria-label="Fecha del final"
            aria-describedby="basic-addon1" required>
        </div>

        <p>Hora de inicio</p>
        <div class="input-group mb-3 margen_cero">
          <input type="time" class="form-control" placeholder="Hora del final" aria-label="Hora del final"
            aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-4">
        <p class="reboto-regular title">¿Qué lugar elejiste?</p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>

      <div class="col-md-4">
        <p>Ciudad</p>
        <div class="input-group mb-3 margen_cero">
          <input type="text" class="form-control" placeholder="Ciudad" aria-label="Ciudad"
            aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-4">
        <p>Código postal</p>
        <div class="input-group mb-3 margen_cero">
          <input type="text" class="form-control" placeholder="Código postal" aria-label="Código postal"
            aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-4">
        <p>Alcaldia o municipio</p>
        <div class="input-group mb-3 margen_cero">
          <input type="text" class="form-control" placeholder="Alcaldia o municipio" aria-label="Alcaldia o municipio"
            aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-6">
        <p>Calle y numero exterior</p>
        <div class="input-group mb-3 margen_cero">
          <input type="text" class="form-control" placeholder="Calle y numero exterior"
            aria-label="Calle y numero exterior" aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-6">
        <p>Colonia</p>
        <div class="input-group mb-3 margen_cero">
          <input type="text" class="form-control" placeholder="Colonia" aria-label="Colonia"
            aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-6">
        <p class="reboto-regular title">Datos de contacto</p>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <p>Nombre del contratante</p>
        <div class="input-group mb-3 margen_cero">
          <input type="text" class="form-control" placeholder="Nombre del contratante" aria-label="Datos del contratante"
            aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-6"></div>

      <div class="col-md-6">
        <p>Correo electrónico</p>
        <div class="input-group mb-3 margen_cero">
          <input type="text" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico"
            aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="col-md-6">
        <p>Teléfono fijo o celular</p>
        <div class="input-group mb-3 margen_cero">
          <input type="tel" class="form-control" placeholder="Teléfono fijo o celular"
            aria-label="Teléfono fijo o celular" aria-describedby="basic-addon1" required>
        </div>
      </div>

    </div>
  </div>

  <div class="contenedor_uno_contenedor_botones">
    <button type="button" class="btn contenedor_uno_siguiente reboto-regular">Siguiente</button>
    <button type="button" class="btn contenedor_uno_atras reboto-regular">Regresar</button>
  </div>
</div>
