<!--DESKTOP-->
<div class="d-none d-md-block" style="height: 458px;">
  <div class="container-fluid seccion_uno_contenedor">
    <div class="row seccion_uno_altura">
      <div class="col-md-6 bg-color" 
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('./assets/Home/banner-image_tall.png'); ">
      
        <div class="seccion_uno_flex">
          <img src="./assets/Home/logo-banner.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div style="text-align: end; padding: 2%;">
          <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
        </div>
        <!--LOGIN-->
        <div class="seccion_uno_credenciales seccion_uno_ancho" *ngIf="show_box_credentials && !show_formulario">
          
          <div class="seccion_uno_ancho">
            
            <div class="flex_contenedor_input">
              <p class="reboto-regular" style="font-weight: bold;">Login</p>
              <img src="./assets/Home/sign.png" alt="" style="width: 100px; margin-bottom: 30px;">
              <div class="input-group mb-3 required_margin margen_cero">
                <input type="text" class="form-control" style="font-size: 13px;" placeholder="Email" aria-label="Email"
                  aria-describedby="basic-addon1" required [(ngModel)]="data_model_login.email" (focus)="email = false">
                <span class="material-icons-outlined icon">
                  email
                </span>
              </div>
              <p class="required" *ngIf="!email">&nbsp;</p>
              <p class="required" *ngIf="email">Campo requerido</p>
            </div>

            <div class="flex_contenedor_input">
              <div class="input-group mb-3 required_margin margen_cero">
                <input type="{{type}}" class="form-control" style="font-size: 13px;" placeholder="password" aria-label="Password"
                  aria-describedby="basic-addon1" required [(ngModel)]="data_model_login.password" (focus)="password = false">
                <span class="material-icons-outlined pointer icon" (click)="visibility(1)" *ngIf="!show_eye">
                  visibility
                </span>
                <span class="material-icons-outlined pointer icon" (click)="visibility(2)" *ngIf="show_eye">
                  visibility_off
                </span>
              </div>
              <span class="pointer reboto-regular" (click)="forgotPassword()" 
            style="font-size: 12px; font-weight: bold; text-decoration: underline; float: right; padding-top: 5px;">
              Olvidó su contraseña ?
            </span>
              <p class="required" *ngIf="!password">&nbsp;</p>
              <p class="required" *ngIf="password">Field is required</p>
              <p class="required required_center" *ngIf="error_credenciales">Usuario y/o contraseña incorrectos</p>
            </div>
            
            <div class="flex_contenedor" style="padding-top: 10px;">
              <button type="button" class="btn flex_button" (click)="login()">Inicia Sesión</button>
            </div>

            <!-- <div class="flex_contenedor_input forgot">
              <span class="pointer reboto-regular" (click)="createAccount(1)">Crear cuenta</span>
            </div> -->
            <div class="flex_contenedor">
              <button type="button" class="btn flex_button" (click)="createAccount(1);"
              style="background-color:darkmagenta;">Crear Cuenta</button>
            </div>

          </div>
        </div>

        <!--FORGOT PASSWORD-->
        <div class="seccion_uno_credenciales seccion_uno_ancho" *ngIf="!show_box_credentials && !show_formulario">
          <div class="seccion_uno_ancho">

            <div class="flex_contenedor_input">
              <p class="reboto-regular">Reestablecer contraseña</p>
              <div class="input-group mb-3 margen_cero">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                  aria-describedby="basic-addon1" required (focus)="email_reset = false" [(ngModel)]="data_model_reset.email">
                <span class="material-icons-outlined icon">
                  email
                </span>
              </div>
              <p class="required" *ngIf="!email_reset">&nbsp;</p>
              <p class="required" *ngIf="email_reset">Field is required</p>
            </div>

            <div class="flex_contenedor">
              <button type="button" class="btn flex_button" (click)="restablecer();">Restablecer</button>
            </div>

            <div class="flex_contenedor_input forgot">
              <span class="pointer reboto-regular" (click)="startSession()">Iniciar Sesión</span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--MOBILE-->
<div class="d-block d-sm-none" style="height: 565px;">
  <div class="container-fluid seccion_uno_contenedor">
    <div class="row">
      <div class="col-sm-12 mobile_padding">
        <div class="seccion_uno_center">
          <div class="bg-color mobile_header" 
          style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('./assets/Home/banner-image_tall_m.png'); ">
            
            <mat-icon [mat-dialog-close]="true" class="mobile_close">close</mat-icon>
            <img src="./assets/Home/logo-icon.svg" alt="" class="mobile_img">
          </div>

          <div *ngIf="show_box_credentials && !show_formulario">
            <div class="flex_contenedor_input">
              <p class="reboto-regular" style="font-weight: bold;">Login</p>
              <img src="./assets/Home/sign.png" alt="" style="width: 100px; margin-bottom: 30px;">
              <div class="input-group mb-3 margen_cero">
                <input type="text" class="form-control" style="font-size: 13px;" placeholder="Email" aria-label="Email"
                  aria-describedby="basic-addon1" required [(ngModel)]="data_model_login.email" (focus)="email = false">
                <span class="material-icons-outlined icon">
                  email
                </span>
              </div>
              <p class="required" *ngIf="!email">&nbsp;</p>
              <p class="required" *ngIf="email">Field is required</p>
            </div>

            <div class="flex_contenedor_input">
              <div class="input-group mb-3 margen_cero">
                <input type="{{type}}" class="form-control" style="font-size: 13px;" placeholder="password" aria-label="Password"
                  aria-describedby="basic-addon1" required [(ngModel)]="data_model_login.password" (focus)="password = false">
                <span class="material-icons-outlined pointer icon" (click)="visibility(1)" *ngIf="!show_eye">
                  visibility
                </span>
                <span class="material-icons-outlined pointer icon" (click)="visibility(2)" *ngIf="show_eye">
                  visibility_off
                </span>
              </div>
              <span class="pointer reboto-regular" (click)="forgotPassword()" 
            style="font-size: 14px; font-weight: bold; text-decoration: underline; float: right; padding-top: 10px; padding-bottom: 25px;">
              Olvidó su contraseña ?
            </span>
              <p class="required" *ngIf="!password">&nbsp;</p>
              <p class="required" *ngIf="password">Field is required</p>
            </div>

            <div class="flex_contenedor">
              <button type="button" class="btn flex_button" (click)="login();">Inicia Sesión</button>
            </div>

            
            <div class="flex_contenedor">
              <button type="button" class="btn flex_button" (click)="createAccount(2);"
              style="background-color:darkmagenta;">Crear Cuenta</button>
            </div>
          </div>
          

          <div *ngIf="!show_box_credentials && !show_formulario">
            <div class="flex_contenedor_input">
              <p class="reboto-regular" style="font-weight: bold;">Reestablecer contraseña</p>
              <div class="input-group mb-3 margen_cero">
                <input type="text" style="font-size: 13px" class="form-control" placeholder="Email" aria-label="Email"
                  aria-describedby="basic-addon1" required (focus)="email_reset = false" [(ngModel)]="data_model_reset.email">
                <span class="material-icons-outlined icon">
                  email
                </span>
              </div>
              <p class="required" *ngIf="!email_reset">&nbsp;</p>
              <p class="required" *ngIf="email_reset">Field is required</p>
            </div>

            <div class="flex_contenedor">
              <button type="button" class="btn flex_button" (click)="restablecer();">Restablecer</button>
            </div>

            <!-- <div class="flex_contenedor_input forgot">
              <span class="pointe reboto-regular" (click)="startSession()">Iniciar Sesión</span>
            </div> -->
            <div class="flex_contenedor">
              <button type="button" class="btn flex_button" (click)="startSession();"
              style="background-color:darkmagenta;">Ir a Login</button>
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </div>
</div>
