<div #container>
<div class="container-fluid no-padding" >
  <div class="col-md-12 no-padding">
    <div class="home_bg">
      <div class="home_informacion">
        <img src="./assets/Home/logo-banner.png" alt="" class="home_img">
        <p class="home_color_texto home_size Reboto-medium">¡Tu Evento En Minutos!</p>
        <!-- <div class="home_contenedor_hijo">
          <p>
            Escoge > Contrata > Disfruta!  
          </p>
        </div> -->
        <div class="home_contenedor_hijo">
          <p class="funciona_title Reboto-medium" style="color: honeydew; margin-bottom: 0px; padding-bottom: 0px;">
            Todos los Servicios en tu Mano  
           <br> 
           <!-- <img width="22px"src="https://img.icons8.com/material-outlined/24/ffffff/circled-chevron-down.png"/> -->
           <img width="30px" src="https://img.icons8.com/ios-glyphs/30/ffffff/circled-chevron-down.png"/>
           <!-- <img width="22px" src="https://img.icons8.com/material-sharp/24/ffffff/circled-chevron-right.png"/> -->
          </p> 
         
          <button type="button" class="btn home_boton " (click)="wizard()">Arma tu evento</button>
          <!-- <img src="./assets/home-dos/chevron-down.png" alt="" class="home_arrow"> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 funciona_bg" id="comofunciona">
    <div class="funciona_header" >
      <h1 class="Reboto-medium title_section">Cómo funciona</h1>
    </div>
  </div>
  <div class="col-md-12 funciona_bg">
    <div class="container no-padding">
      <div class="row no-padding">
        <div class="col-md-3">
          <div class="funciona_contenedor">
            <img src="./assets/home-dos/calendar.png" alt="">
            <p></p>
            <p class="funciona_title Reboto-medium">1. Agenda tu evento</p>
            <p class="funciona_description">Especifica cuando y donde es tu evento</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="funciona_contenedor">
            <img src="./assets/home-dos/seleccionar.png" alt="">
            <p></p>
            <p class="funciona_title Reboto-medium">2. Selecciona los servicios </p>
            <p class="funciona_description">Seleciona el Personal, Talento y Artículos que requieras</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="funciona_contenedor">
            <img src="./assets/home-dos/mobile.png" alt="">
            <p></p>
            <p class="funciona_title Reboto-medium">3. Confirmar y pagar</p>
            <p class="funciona_description">Elige la opción de pago de manera segura</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="funciona_contenedor">
            <img src="./assets/home-dos/confetti.png" alt="">
            <p class="funciona_title Reboto-medium">4. ¡Disfruta
              tu evento!</p>
            <p></p>
            <p class="funciona_description">Despreocúpate, un Asesor de Conevento se encargará que tu evento sea un éxito</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 funciona_bg">
    <div class="funciona_header">
      <button type="button" class="btn funciona_boton" (click)="wizard()">Comienza ahora</button>
    </div>
  </div>
  <div class="col-md-12" id="nuestrosservicios">
    <div class="servicios_header">
      <h1 class="Reboto-medium title_section">Nuestros servicios</h1>
    </div>
  </div>
  <div class="col-md-12">
    <div style="margin: 0% 12%;">
      <div class="row">

        <div class="col-md-4">
          <div>
            <div class="servicios_header_tarjeta" style="background-image: url('./assets/home-dos/servicios_uno.png');">
              <span class="texto_tarjetas">Personal</span>
            </div>
            <div class="servicios_body_tarjeta servicios_body_tarjeta_bg_servicios">
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Mesero</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Bartender</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Bartender Premium</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Limpieza Post Evento</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <div class="servicios_header_tarjeta" style="background-image: url('./assets/home-dos/talento.png');">
             
              <span class="texto_tarjetas">Talento</span>
            </div>
            <div class="servicios_body_tarjeta  servicios_body_tarjeta_bg_talento">
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> DJ</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Banda Cover</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Duetos</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Mariachis</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Y Mucho Más</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <div class="servicios_header_tarjeta" style="background-image: url('./assets/home-dos/mobiliario.png');">
              <span class="texto_tarjetas">Mobiliario</span>
            </div>
            <div class="servicios_body_tarjeta servicios_body_tarjeta_bg_servicios">
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Carpas</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Calentadores</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Salas</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Mesas</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Y Mucho Más</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <div class="servicios_header_tarjeta" style="background-image: url('./assets/home-dos/bebidas.png');">
              <span class="texto_tarjetas">Bebidas y Alimentos</span>
            </div>
            <div class="servicios_body_tarjeta  servicios_body_tarjeta_bg_talento">
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span>Disfruta los diferentes paquetes que tenemos para ti.</span>
              </div>
              <!-- <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Bartender</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Bartender Premium</span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Limpieza post evento</span>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <div class="servicios_header_tarjeta" style="background-image: url('./assets/home-dos/luces.png');">
              <span class="texto_tarjetas">Luces y Sonido</span>
            </div>
            <div class="servicios_body_tarjeta servicios_body_tarjeta_bg_servicios">
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Bocinas </span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Cabinas </span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Luces </span>
              </div>
              <div>
                <img src="./assets/home-dos/box.png" alt="">
                <span> Planta de Luz </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="funciona_header">
      <button type="button" class="btn funciona_boton" (click)="wizard()">Arma tu evento</button>
    </div>
  </div>
</div>

<div class="row" id="porque">
  <div class="col-md-6 no-padding">
    <div class="imagen_contenedor">
      <img src="./assets/home-dos/evento.png" alt="" class="imagen_contenedor">
    </div>
  </div>

  <div class="col-md-6 no-padding">
    <div class="imagen_bg">
      <div style="padding: 10%;">
        <h1 class="imagen_title Reboto-medium">Tu evento como <br> una experiencia <br> única</h1>
        <span class="imagen_description">Nuestros asesores acompañandote <br>
          hasta hacerlo realidad.
          <!-- <ul>
            <li data-icon="🦄">Servicio especializado</li>
            <li data-icon="🦄">Seguridad</li>
            <li data-icon="🦄">Calidad</li>
          </ul> -->
          
          <br>
          <img src="https://img.icons8.com/ios/50/ffffff/best-seller.png" style="width:45px; padding-right: 10px;"/>Servicio Especializado 
          <br>
          <img src="https://img.icons8.com/wired/64/ffffff/security.png" style="width:45px; padding-right: 10px;"/>Seguridad  
          <br>
          <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/ffffff/external-premium-seo-flatart-icons-outline-flatarticons.png" style="width:45px; padding-right: 10px;"/>Calidad
        </span>
      </div>
      
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carrusell_header">
        <h1 class="Reboto-medium title_section carrusell_max">La nueva forma de hacer
          de tus eventos un éxito</h1>
      </div>
    </div>


    <div class="col-md-12">
      <swiper [slidesPerView]="3" [spaceBetween]="30" [pagination]="{clickable: true}"
        class="mySwiper d-none d-md-block">
        <ng-template swiperSlide>
          <div class="carrusell_tarjeta">
            <img src="./assets/home-dos/uno.png" alt="">
            <div class="carrusell_margin">
              <p>Quedé encantado con el servicio de meseros y bartender para mi baby shower, me despreocupe y me ayudaron en todo.</p>
              
              <p class="carrusell_pie">-Octavio López</p>
            </div>
            <div class="carrusell_contenedorArrows">
              <img src="./assets/home-dos/back.png" alt="" class="carrusell_arrows">
              &nbsp;
              <img src="./assets/home-dos/next.png" alt="" class="carrusell_arrows">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="carrusell_tarjeta">
            <img src="./assets/home-dos/dos.png" alt="">
            <div class="carrusell_margin">
              <p>Fueron los mejores para mi evento. Todos mis invitados quedaron encantados, el guitarrista fue una gran revelación.</p>
              <p class="carrusell_pie">- Alejandra Franco</p>
            </div>
            <div class="carrusell_contenedorArrows">
              <img src="./assets/home-dos/back.png" alt="" class="carrusell_arrows">
              &nbsp;
              <img src="./assets/home-dos/next.png" alt="" class="carrusell_arrows">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="carrusell_tarjeta">
            <img src="./assets/home-dos/tres.png" alt="">
            <div class="carrusell_margin">
              <p>Me ahorraron mucho tiempo, requerí algunos cambios y estuvieron ahí para ayudarme en todo momento, mi fiesta fue un éxito.</p>
              <p class="carrusell_pie">- Mario Tapia</p>
            </div>
            <div class="carrusell_contenedorArrows">
              <img src="./assets/home-dos/back.png" alt="" class="carrusell_arrows">
              &nbsp;
              <img src="./assets/home-dos/next.png" alt="" class="carrusell_arrows">
            </div>
          </div>
        </ng-template>
      </swiper>

      <swiper [slidesPerView]="1" [spaceBetween]="30" [pagination]="{clickable: true}"
        class="mySwiper d-block d-md-none">
        <ng-template swiperSlide>
          <div class="carrusell_tarjeta">
            <img src="./assets/home-dos/uno.png" alt="">
            <div class="carrusell_margin">
              <p>Quedé encantado con el servicio de meseros y bartender para mi baby shower, me despreocupe y me ayudaron en todo.</p>
              <p class="carrusell_pie">-Octavio López</p>
            </div>
            <div class="carrusell_contenedorArrows">
              <img src="./assets/home-dos/back.png" alt="" class="carrusell_arrows">
              &nbsp;
              <img src="./assets/home-dos/next.png" alt="" class="carrusell_arrows">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="carrusell_tarjeta">
            <img src="./assets/home-dos/dos.png" alt="">
            <div class="carrusell_margin">
              <p>Fueron los mejores para mi evento. Todos mis invitados quedaron encantados, el guitarrista fue una gran revelación.</p>
              
              <p class="carrusell_pie">- Alejandra Franco</p>
            </div>
            <div class="carrusell_contenedorArrows">
              <img src="./assets/home-dos/back.png" alt="" class="carrusell_arrows">
              &nbsp;
              <img src="./assets/home-dos/next.png" alt="" class="carrusell_arrows">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="carrusell_tarjeta">
            <img src="./assets/home-dos/tres.png" alt="">
            <div class="carrusell_margin">
              <p>Me ahorraron mucho tiempo, requerí algunos cambios y estuvieron ahí para ayudarme en todo momento, mi fiesta fue un éxito.</p>
              <p class="carrusell_pie">- Mario Tapia</p>
            </div>
            <div class="carrusell_contenedorArrows">
              <img src="./assets/home-dos/back.png" alt="" class="carrusell_arrows">
              &nbsp;
              <img src="./assets/home-dos/next.png" alt="" class="carrusell_arrows">
            </div>
          </div>
        </ng-template>
      </swiper>

      <div class="espacio d-block d-md-none"></div>
    </div>
  </div>
</div>

<div class="espacio d-none d-md-block"></div>

<div class="container">
  <div class="row" id="unete">
    <div class="col-md-6 no-padding">
      <div class="animate_title">
        <h1 class="animate_size_title">Anímate a ser
          parte del equipo.</h1>
        <span class="animate_size_descripcion">¡Únete a nosotros!</span>
        <div class="animate_contenedor_btn">
          <button type="button" class="btn animate_boton" (click)="nosotros(1)">Mas información</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 no-padding">
      <div class="animate_heigth d-none d-md-block">
        <img src="./assets/home-dos/hombre.png" alt="" class="animate_img">
      </div>
    </div>

  </div>
</div>

<div class="espacio d-none d-md-block"></div>
</div>