<div class="container-fluid cover_width">
  <div class="bg">
    <div class="cover_informacion">
      <img src="./assets/Home/logo-banner.png" alt="" class="banner_img">
      <p class="cover_color_texto cover_size">¡Tu Evento En Minutos!</p>
      <div class="cover_contenedor_hijo">
        <button type="button" class="btn cover_boton">Arma tu evento</button>
        <button type="button" class="btn cover_botonOutline">Ver más</button>
      </div>
    </div>
  </div>
</div>

<!----COMO FUNCIONA---->
<div class="container-fluid bg_color">
  <div class="row margen">
    <div class="col-md-12">
      <div>
        <p class="titulo_seccion">¿CÓMO FUNCIONA?</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="como_funciona comoFunciona">
        <img src="./assets/Home/calendar-conevento.svg" alt="" class="img">
        <p class="subtitle">1. Agenda</p>
        <p class="descripcion">Coloca la fecha, hora de inicio y termino del evento, Venue (lugar donde ocurrira) y
          cantidad de gente esperada</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="como_funciona comoFunciona">
        <img src="./assets/Home/select-conevento.svg" alt="" class="img">
        <p class="subtitle">2. Selecciona y paga</p>
        <p class="descripcion">Selecciona los servicios de personal y articulos que requieras. ¡Paga con distintos
          medios seguros!</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="como_funciona comoFunciona">
        <img src="./assets/Home/event-banner-conevento.svg" alt="" class="img">
        <p class="subtitle">3. Disfruta tu evento</p>
        <p class="descripcion">Se te asignara un asesor para coordinar que tu Evento sea un éxito</p>
      </div>
    </div>
    <div class="col-md-12 abajo">
      <div class="contenedor_boton_center abajo">
        <button type="button" class="btn contenedor_boton_comienza">Comienza ahora</button>
      </div>
    </div>
  </div>
</div>
<!--FIN COMO FUNCIONA-->


<!----NUESTROS SERVICIOS---->
<div class="container-fluid">
  <div class="row margen">
    <div class="col-md-12">
      <div>
        <p class="titulo_seccion">NUESTROS SERVICIOS</p>
      </div>
    </div>

    <div class="col-md-12">
      <div>
        <p class="nuestros_servicios_subtitle">Personal</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="nuestros_servicios_img nuestros_servicios_bg nuestros_servicios_margin_top">
        <p class="nuestros_servicios_title">Meseros</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="nuestros_servicios_img nuestros_servicios_bg  nuestros_servicios_margin_top">
        <p class="nuestros_servicios_title">Bartender</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="nuestros_servicios_img nuestros_servicios_bg nuestros_servicios_margin_top">
        <p class="nuestros_servicios_title">Talento</p>
      </div>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="nuestros_servicios_img nuestros_servicios_bg nuestros_servicios_margin_top">
        <p class="nuestros_servicios_title">Limpieza</p>
      </div>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-12">
      <div class="spacer">
        <p class="nuestros_servicios_subtitle">Articulos</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="nuestros_servicios_img nuestros_servicios_bg nuestros_servicios_margin_top">
        <p class="nuestros_servicios_title">Bebidas</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="nuestros_servicios_img nuestros_servicios_bg nuestros_servicios_margin_top">
        <p class="nuestros_servicios_title">Sonidos y Luces</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="nuestros_servicios_img nuestros_servicios_bg nuestros_servicios_margin_top">
        <p class="nuestros_servicios_title">Mobiliario</p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="contenedor_boton_center">
        <button type="button" class="btn nuestros_servicios_comienza">Elige tus servicios</button>
      </div>
    </div>

  </div>
</div>
<!--FIN NUESTROS SERVICIOS-->

<!----PORQUE ELEGIRNOS---->
<div class="container-fluid seccion_tres_bg_color">
  <div class="row margen">
    <div class="col-md-12">
      <div class="seccion_tres_contenedor">
        <p class="seccion_tres_title">¿POR QUÉ ELEGIRNOS?</p>
        <p class="seccion_tres_icon_titulo">¡Somos la nueva forma de hacer eventos!</p>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="seccion_tres_contenedor_hijo">
        <!--span class="material-icons-outlined seccion_tres_icon">
          schedule
        </span-->
        <img src="./assets/Home/ahorro.png" alt="" width="60%">
        <p class="seccion_tres_icon_titulo tamaño_letra">Ahorro De Tiempo</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="seccion_tres_contenedor_hijo">
        <img src="./assets/Home/pago.png" alt="" width="60%">
        <p class="seccion_tres_icon_titulo tamaño_letra">Pago Seguro</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="seccion_tres_contenedor_hijo">
        <img src="./assets/Home/calidad.png" alt="" width="60%">
        <p class="seccion_tres_icon_titulo tamaño_letra">Calidad</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="seccion_tres_contenedor_hijo">
        <img src="./assets/Home/confianza.png" alt="" width="60%">
        <p class="seccion_tres_icon_titulo tamaño_letra">Confianza</p>
      </div>
    </div>
  </div>
</div>
<!--FIN PORQUE ELEGIRNOS-->

<!----UNOTE A NOSOTROS---->
<div class="container-fluid seccion_cuatro_bg_color">
  <div class="row margen">
    <div class="col-md-12">
      <div class="top_">
        <p class="seccion_cuatro_title">ÚNETE A NOSOTROS</p>
        <p class="seccion_cuatro_descripcion">¡Forma parte de aquellos que se encargan de hacer posible cada evento
          siendo nuestro proveedor de servicios!</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="seccion_cuatro_center">
        <button type="button" class="btn seccion_cuatro_solicitar d-none d-md-block" (click)="nosotros(1)">Solicitar</button>
        <button type="button" class="btn seccion_cuatro_solicitar d-block d-md-none" (click)="nosotros(2)">Solicitar</button>
      </div>
    </div>
  </div>
</div>
<!--FIN PORQUE ELEGIRNOS-->

<!----FAQ---->
<div class="container-fluid">
  <div class="row margen">
    <div class="col-md-12">
      <div class="spacer">
        <p class="seccion_cuatro_title">FAQ</p>
      </div>
    </div>
    <div class="col-md-12">

      <div class="buttom">

        <ngb-accordion #a="ngbAccordion" class="faq_bg">

          <ngb-panel id="custom-panel-2">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0 title_faq">Lorem ipsum dolor sit amet</h5>
                <button ngbPanelToggle class="btn btn-link p-0">
                  <!--OPEN ICON-->
                  <span class="material-icons icon_color" *ngIf="!opened">
                    expand_more
                  </span>
                  <!--CLOSE ICON-->
                  <span class="material-icons icon_color" *ngIf="opened">
                    expand_less
                  </span>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent class="background">
              <div>
                <p class="preguntas_text_pregunta">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                  neque non gravida sodales. Integer convallis
                  ipsum quis ligula feugiat vehicula. Aliquam tempor massa leo, quis porttitor turpis tristique sed.
                  Aliquam
                  convallis justo facilisis porta laoreet. Mauris a turpis ac ipsum laoreet lacinia.</p>
              </div>
            </ng-template>
          </ngb-panel>

        </ngb-accordion>

        <div class="spacer_"></div>

        <ngb-accordion #a="ngbAccordion" class="faq_bg">

          <ngb-panel id="custom-panel-2">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0 title_faq">Lorem ipsum dolor sit amet</h5>
                <button ngbPanelToggle class="btn btn-link p-0">
                  <!--OPEN ICON-->
                  <span class="material-icons icon_color" *ngIf="!opened">
                    expand_more
                  </span>
                  <!--CLOSE ICON-->
                  <span class="material-icons icon_color" *ngIf="opened">
                    expand_less
                  </span>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent class="background">
              <div>
                <p class="preguntas_text_pregunta">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                  neque non gravida sodales. Integer convallis
                  ipsum quis ligula feugiat vehicula. Aliquam tempor massa leo, quis porttitor turpis tristique sed.
                  Aliquam
                  convallis justo facilisis porta laoreet. Mauris a turpis ac ipsum laoreet lacinia.</p>
              </div>
            </ng-template>
          </ngb-panel>

        </ngb-accordion>

        <div class="spacer_"></div>

        <ngb-accordion #a="ngbAccordion" class="faq_bg">

          <ngb-panel id="custom-panel-2">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0 title_faq">Lorem ipsum dolor sit amet</h5>
                <button ngbPanelToggle class="btn btn-link p-0">
                  <!--OPEN ICON-->
                  <span class="material-icons icon_color" *ngIf="!opened">
                    expand_more
                  </span>
                  <!--CLOSE ICON-->
                  <span class="material-icons icon_color" *ngIf="opened">
                    expand_less
                  </span>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent class="background">
              <div>
                <p class="preguntas_text_pregunta">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                  neque non gravida sodales. Integer convallis
                  ipsum quis ligula feugiat vehicula. Aliquam tempor massa leo, quis porttitor turpis tristique sed.
                  Aliquam
                  convallis justo facilisis porta laoreet. Mauris a turpis ac ipsum laoreet lacinia.</p>
              </div>
            </ng-template>
          </ngb-panel>

        </ngb-accordion>

      </div>


    </div>
  </div>
</div>
<!--FIN FAQ-->
