<div class="contenedor ux-container">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-6">
                    <br>
                    <h1 class="Titlu-header bold" style="font-size: 22px;">Eventos</h1>

                </div>
            </div>
            <div class="row">
                <br>
            </div>
            <div class="row ">

                <div class="col-4 filter">
                    <div class="form-group form-inline">
                        Búsqueda Contratante: <input class="form-control ml-2" type="text"
                            [(ngModel)]="userFilter.nombreContratane" />
                    </div>
                </div>
                <div class="col-2 filter">
                    <span>Solicitado desde:</span>
                    <input class="form-control" type="date" [(ngModel)]="fechaInicial"
                        (ngModelChange)="get_resultados()" cols="100" id="hobbies"
                        placeholder="Ingrese el nombre de la vacante">
                </div>
                <div class="col-2 filter">
                    <span>Solicitado hasta:</span>
                    <input class="form-control" type="date" [(ngModel)]="fechaFinal" (ngModelChange)="get_resultados()"
                        cols="100" id="hobbies" placeholder="Ingrese el nombre de la vacante">
                </div>

                <div class="col-2  filter">
                    <span>Muicipio:</span>
                    <select [(ngModel)]="id_municipio" (change)="get_resultados()" [(ngModel)]="id_municipio">
                        <option value=1>Benito Juárez</option>
                        <option value=2>Coyoacan</option>
                        <option value=3>Magdalena Contreras </option>
                        <option value=4>Venustiano Carranza</option>
                        <option value=5>Cuajimalpa</option>
                        <option value=6>Alvaro Obregón</option>
                        <option value=7>Azcapotzalco</option>
                        <option value=8>Cuahutemoc</option>
                        <option value=9>Tlapan</option>
                        <option value=0 selected>Todos</option>
                    </select>
                </div>
                <div class="col-2 end">
                    <button class="btn pagar_siguiente Reboto-medium" (click)="opencalendario();">
                        <a [routerLink]="['/admin/calendar-events/1']" target="blank" style="color: honeydew;">
                            Ver <mat-icon>calendar_today</mat-icon>
                        </a>
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn pagar_siguiente Reboto-medium" style="background-color: goldenrod;"
                        (click)="limpiarFiltros();">
                        Limpiar <mat-icon>
                            autorenew
                        </mat-icon>
                    </button>
                </div>
            </div>
            <div class="row">
                <br>
            </div>
            <div class="table-responsive" style="margin-bottom: 100px;">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th style="cursor: pointer;">
                                <span>
                                    #
                                </span>
                            </th>
                            <th style="cursor: pointer;">
                                <span>
                                    Contratante
                                </span>
                            </th>
                            <th (click)="sort('country')" [class.active-sort]="key === 'telefono'"
                                style="cursor: pointer;">
                                <span class="sort" [class.normal]="!reverse" [class.reverse]="reverse">
                                    Teléfono
                                </span>
                            </th>
                            <th style="cursor: pointer;">
                                <span>
                                    Correo
                                </span>
                            </th>
                            <th (click)="sort('country')" [class.active-sort]="key === 'telefono'"
                                style="cursor: pointer;">
                                <span class="sort" [class.normal]="!reverse" [class.reverse]="reverse">
                                    Dirección
                                </span>
                            </th>
                            <th (click)="sort('country')" [class.active-sort]="key === 'telefono'"
                                style="cursor: pointer;">
                                <span class="sort" [class.normal]="!reverse" [class.reverse]="reverse">
                                    Fecha
                                </span>
                            </th>
                            <th (click)="sort('country')" [class.active-sort]="key === 'telefono'"
                                style="cursor: pointer;">
                                <span class="sort" [class.normal]="!reverse" [class.reverse]="reverse">
                                    Monto
                                </span>
                            </th>
                            <th (click)="sort('country')" [class.active-sort]="key === 'telefono'"
                                style="cursor: pointer;">
                                <span class="sort" [class.normal]="!reverse" [class.reverse]="reverse">
                                    Forma Pago
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="padding: 5px;"
                            *ngFor="let item of resultados | filterBy : userFilter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
                            <td>
                                <span>{{ i + 1 + (p-1)*10 }}

                                </span>
                            </td>
                            <td>
                                <span>{{ item.nombreContratane }}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </td>
                            <td>
                                {{ item.telefono }}&nbsp;&nbsp;
                            </td>
                            <td>
                                &nbsp;&nbsp;{{ item.correo }} &nbsp;&nbsp;
                            </td>
                            <td>
                                &nbsp;&nbsp;{{ item.calleNumero }}, &nbsp; {{ item.colonia }}, &nbsp; {{ item.municipio
                                }}
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                &nbsp;&nbsp;
                                <a style="cursor: pointer;text-decoration: underline;color: blue;"
                                    (click)="viewdetail(item)">
                                    {{ item.fechaHoraInicio | date: 'dd/MM/yyyy'}}&nbsp;&nbsp;{{ item.fechaHoraInicio |
                                    date:'shortTime' }}
                                </a>
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                {{ item.total | currency }}
                            </td>
                            <td>
                                {{ item.formaPago }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #cuentaPostulanteModal let-modal>

    <div class="modal-body col-form ux-modal">
        <div class="">

            <div class="row space-between">
                <p class="titulo bold" style="font-size: 22px;;">Detalles Del Evento</p>
                <span class="cerrar" aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row contenedor_uno" style="margin: 1% auto; border-radius: 10px;">
                            <div class="col-md-9">
                                <p class="Reboto-medium subtitle">¿Cuando será el evento?</p>
                            </div>
                            <div class="col-md-4">
                                <p>Fecha y hora inicio *</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span> {{ eventos.fechaHoraInicio | date: 'dd/MM/yyyy'}}&nbsp;&nbsp;{{
                                        eventos.fechaHoraInicio |
                                        date:'shortTime' }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>Fecha y hora final *</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{ eventos.fechaHoraFin | date: 'dd/MM/yyyy'}}&nbsp;&nbsp;{{
                                        eventos.fechaHoraFin |
                                        date:'shortTime' }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>Gente esperada </p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.genteEsperada}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p class="Reboto-medium subtitle">¿En qué lugar ?</p>
                            </div>

                            <div class="col-md-4">
                                <p>Alcaldia o municipio *</p>
                                <span>
                                    {{eventos.municipio}}
                                </span>
                            </div>

                            <div class="col-md-4">
                                <p>Código postal (Opcional)</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.cp}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <p>Calle y numero exterior *</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.calleNumero}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <p>Colonia *</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.colonia}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p class="Reboto-medium subtitle">Datos de contacto</p>
                            </div>

                            <div class="col-md-6">
                                <p>Nombre del contratante *</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.nombreContratane}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <p>Requiere Factura</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.reqFactura}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <p>Correo electrónico *</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.correo}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <p>Teléfono fijo o celular *</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.telefono}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>Forma de Pago</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.formaPago}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>Referencia de Pago</p>
                                <div class="input-group mb-3 margen_cero">
                                    <span>
                                        {{eventos.referenciaPago}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="Reboto-medium subtitle">
                                    Monto total: {{eventos.total | currency}} &nbsp;
                                    <span *ngIf="eventos.flete > 0"
                                        style="color: gray; font-size: 14px; font-style: italic;">
                                        (Incluye Flete $500.00)
                                    </span> &nbsp; &nbsp;

                                </p>
                                <p class="Reboto-medium subtitle">Servicios ({{eventos.total_servicios}}): </p>
                            </div>
                        </div>
                        <div class="table-responsive" style="margin-bottom: 100px;">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th style="cursor: pointer;">
                                            <span>
                                                #
                                            </span>
                                        </th>
                                        <th style="cursor: pointer;">
                                            <span>
                                                Servicio
                                            </span>
                                        </th>
                                        <th>
                                            <span class="sort" [class.normal]="!reverse" [class.reverse]="reverse">
                                                Precio Unitario
                                            </span>
                                        </th>
                                        <th style="cursor: pointer;">
                                            <span>
                                                Elementos
                                            </span>
                                        </th>
                                        <th>
                                            <span class="sort" [class.normal]="!reverse" [class.reverse]="reverse">
                                                Horas
                                            </span>
                                        </th>
                                        <th>
                                            <span class="sort" [class.normal]="!reverse" [class.reverse]="reverse">
                                                Monto
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="padding: 5px;"
                                        *ngFor="let _item of eventos.listaProductosEventos; let j = index ">
                                        <td>
                                            <span>{{ j + 1 + (_p-1)*5 }}

                                            </span>
                                        </td>
                                        <td>
                                            <span>{{ _item.producto }}
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </td>
                                        <td>
                                            {{ _item.precioPorUnidad | currency }}&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;{{ _item.cantidadUnidades }} &nbsp;&nbsp;
                                        </td>
                                        <td *ngIf="_item.especificarTiempo">
                                            &nbsp;&nbsp;{{ _item.cantidadHoras }}
                                            &nbsp;&nbsp;
                                        </td>
                                        <td *ngIf="!_item.especificarTiempo">
                                            &nbsp;&nbsp;N/A
                                            &nbsp;&nbsp;
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;
                                            {{ _item.monto | currency }}
                                            &nbsp;&nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- <div class="col-12">Contenedor de 7 columnna</div> -->
                </div>
            </div>
        </div>
    </div>
</ng-template>