<!-----------------------------------header-------------------------------------->
<div class="header">
  <h2>{{data.producto}}</h2>
  <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
</div>

<!-----------------------------------content-------------------------------------->
<mat-dialog-content class="mat-typography">
  <div class="contenedor">
     <div class="row">
         <div class="col-md-6">
             
         </div>
     </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">

  <button>Save</button>

</mat-dialog-actions>
