.contenedor {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.contenedorIMG {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;

  &_img {
    border-radius: 10px;
    width: 100%;
  }

}

.contenedorINFO {
  width: 50%;
  height: 500px;
}

.title {
  font-size: 25px !important;
}

.subtitle {
  font-size: 18px !important;

  &_hr {
    font-size: 16px;
    color: #00C3BD;
  }
}

.description {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.56);

  &_center {
    text-align: center;
  }
}

.agregar {
  width: 60%;
  margin: auto;
}

.botones {
  &_siguiente {
    background-color: #F6D788;
    font-size: 18px;
    color: #1E003A;
    width: 190px;
    height: 53px;
  }

  &_atras {
    background-color: transparent;
    font-size: 18px;
    color: #7800E7;
    width: 190px;
    height: 53px;
  }

  &_top {
    margin-top: 50px;
    text-align: end;
  }
}

.tarjeta {
  &_contenedor_principal {
    margin: 10% 0% 20% 0%;
  }

  &_img {
    width: 100%;
  }

  &_contendor {
    background-color: white;
    padding: 5%;
  }

  &_justificado {
    text-align: justify;
  }

  &_color {
    color: #00C3BD;
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    width: 80%;
    margin: auto;
  }

  &_input {
    margin: 0;
    border: 1px solid gray;
    width: 80px;
    border-radius: 15px;
    padding-left: 5%;
    height: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .contenedorIMG {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .contenedorINFO {
    width: auto;
    height: auto;
    padding: 2%;
  }

  .botones {
    &_siguiente {
      background-color: #F6D788;
      font-size: 12px;
      color: #1E003A;
      width: 140px;
      height: 53px;
      margin-bottom: 18px;
    }

    &_atras {
      background-color: transparent;
      font-size: 12px;
      color: #7800E7;
      width: 100px;
      height: 53px;
      margin-bottom: 18px;
    }

    &_top {
      text-align: center;
    }
  }
  .agregar{
    width: auto;
  }
}
