// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$conevento-primary: mat.define-palette(mat.$indigo-palette);
$conevento-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$conevento-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$conevento-theme: mat.define-light-theme((color: (primary: $conevento-primary,
      accent: $conevento-accent,
      warn: $conevento-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($conevento-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


@font-face {
  font-family: Reboto;
  src: url("./assets/Reboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: Reboto-bold;
  src: url("./assets/Reboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Reboto-bold-Regular;
  src: url("./assets/Reboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Reboto-medium;
  src: url("./assets/Reboto/Roboto-Medium.ttf");
}


.pointer {
  cursor: pointer;
}

.spacer_ {
  height: 20px;
}

.servicios {
  .card {
    width: 100% !important;
    background-color: transparent !important;
    border: none transparent;
  }

  .card-header {
    background-color: transparent !important;
    border-bottom: none !important;
  }
}

.seccion_cuatro {
  .card {
    background: #7800E7 !important;
    color: white;
    width: 80%;
  }
}

.mat-dialog-container {
  padding: 0 !important;
}

.title {
  font-weight: bold !important;
  font-size: 16px !important;
}

.subtitle {
  font-weight: bold !important;
  font-size: 20px !important;
}

.reboto_bold {
  font-family: Reboto-bold;
}

.reboto {
  font-family: Reboto;
}

.reboto-regular {
  font-family: Reboto-bold-Regular;
}

.Reboto-medium {
  font-family: Reboto-medium;
}

.mat-stepper-horizontal-line{
  width: 100% !important;
}

.mat-step-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 40%;
  height: 100%;
}

.mat-stepper-horizontal{
  background-color: #F5F2F8 !important;
}
html,
body {
  font-family: Reboto;
}

* {
  font-family: Reboto;
}

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

.swal2-title {
  font-size: 15px !important;
  text-align: justify !important;
}

.swal2-icon {
  margin: 1.5em 2em 0.6em !important;
}

.swal2-container.swal2-top-end>.swal2-popup {
  display: flex !important;
  align-items: center;
}
