<div class="contenedor ux-container">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="row text-center">
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      < Anterior
                    </div>
                    <div
                      class="btn btn-outline-secondary"
                      mwlCalendarToday
                      [(viewDate)]="viewDate"
                    >
                      Actual
                    </div>
                    <div
                      class="btn btn-primary"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      Siguiente >
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary"
                      (click)="setView(CalendarView.Month)"
                      [class.active]="view === CalendarView.Month"
                    >
                      Mensual
                    </div>
                    <div
                      class="btn btn-primary"
                      (click)="setView(CalendarView.Week)"
                      [class.active]="view === CalendarView.Week"
                    >
                      Semanal
                    </div>
                    <div
                      class="btn btn-primary"
                      (click)="setView(CalendarView.Day)"
                      [class.active]="view === CalendarView.Day"
                    >
                      Diario
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="CalendarView.Month"
                  [viewDate]="viewDate"
                  [events]="events"
                  [activeDayIsOpen]="activeDayIsOpen"
                  (dayClicked)="dayClicked($event.day)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                  (beforeViewRender)="beforeMonthViewRender($event)"
                >
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                  *ngSwitchCase="CalendarView.Week"
                  [viewDate]="viewDate"
                  [events]="events"
                  (eventTimesChanged)="eventTimesChanged($event)"
                  (beforeViewRender)="beforeWeekViewRender($event)"
                >
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                  *ngSwitchCase="CalendarView.Day"
                  [viewDate]="viewDate"
                  [events]="events"
                  (eventTimesChanged)="eventTimesChanged($event)"
                  (beforeViewRender)="beforeDayViewRender($event)"
                >
                </mwl-calendar-day-view>
              </div>
              
        </div>
    </div>
</div>
  

  